<div class="card">
  <div class="card-header">
    <div class="d-flex flex-row align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <div class="data-tooltip" data-tooltip-content="{{#str}}tutoring:view_tooltip, local_dta{{/str}}">
          <i class="fa fa-question"></i>
        </div>
        <h2>{{#str}}tutoring:title, local_dta{{/str}}</h2>
      </div>
      <span id="mentoring-requested" class="badge badge-pill badge-danger" data-action="see-requests"></span>
    </div>
  </div>

  <div class="card-body">
    <div class="">
      <div class="input-group mb-1">
        <input type="text" class="search-field__input" id="search-mentors-input"
          placeholder="Search user to ask tutoring..." aria-label="Search user" />
      </div>
      <a href="{{mentorrepourl}}" class="d-flex justify-content-end mb-1">{{#str}}tutoring:see_all_mentors, local_dta{{/str}}</a>

      <div id="search-mentors-result"></div>

      <div class="list-group mb-2">
        {{#mentorslist}}
        {{> local_dta/test/menu_mentor/item}}
        {{/mentorslist}}
        {{^mentorslist}}
        <div class="text-center">
          <h6> {{#str}}experience_view_mytutoring_request_not_found, local_dta{{/str}}  </h6>
        </div>
        {{/mentorslist}}
      </div>
      <div class="socialize-button mb-2">
        <button class="btn btn-chat" id="btn-chat">
          <i class="fa fa-paper-plane"></i> Chat
        </button>
        <button class="btn btn-zoom-call">
          <i class="fa fa-video-camera"></i> Start Meet Call
        </button>
      </div>
      <div class="mentor-comments">
        <h4 class="mentor-comments-title">{{#str}}tutoring:mentor_comments, local_dta{{/str}}</h4>
        <div class="d-flex align-items-end mb-2">
          <textarea class="form-control flex-grow-1" rows="3" placeholder="Write your comment here..."></textarea>
          <button type="button" class="btn btn-secondary ml-1">
            <i class="fa fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>