<div class="list-tutoring-group-item d-flex justify-content-between align-items-center mb-2">
  <div class="d-flex align-items-center">
    <div class="position-relative">
      <img src="{{profile_img}}" class="tutoring_profile_image rounded-circle" />
      <button class="btn btn-tutoring-mentor-calendar position-absolute" >
        <i class="fa fa-calendar"></i>
      </button>
    </div>
    <div class="ml-3">
      <h6 class="mb-0">{{name}}</h6>
      <small>{{#str}}tutoring:at_university, local_dta{{/str}} {{university}}</small>
    </div>
  </div>
</div>
