<div class="container-fluid col-10">
  <div class="row align-items-center">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <div class="card smooth-shadow-sm">
        <div class="pt-20 card-img-top bg-primary"></div>
        <div class="d-flex align-items-center justify-content-between pb-6 px-4">
          <div class="d-flex align-items-center">
            <div
              class="avatar-xxl avatar-indicators avatar-online me-2 position-relative d-flex justify-content-end align-items-end mt-n10">
              <img src="{{user.imageurl}}" class="avatar-xxl rounded-circle border border-2"
                alt="{{#str}} avatar_alt, local_dta {{/str}}" />
            </div>
            <div class="lh-1">
              <h2 class="mb-0">
                {{user.name}}
                <a href="#!" class="text-decoration-none"> </a>
              </h2>
              <p class="mb-0 d-block">{{user.email}}</p>
            </div>
            
          </div>

          <div class="d-flex align-items-center">
            <a href="{{user.editurl}}" class="btn btn-outline-secondary m-1 d-md-block">{{#str}} editmyprofile, core
              {{/str}}</a>
            {{#experiences.showaddbutton}}
                <a href="{{experiences.addurl}}" class="btn btn-outline-primary m-1 d-md-block">{{#str}}
                    myexperience_add_new_experience, local_dta {{/str}}</a>
            {{/experiences.showaddbutton}}   
          </div>
        </div>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
</ul>
      </div>
    </div>
  </div>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>
  <div class="card-list">
  {{> local_dta/experiences/card-list}}
  </div>
</div>