<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <div class="card smooth-shadow-sm">
        <div class="pt-20 card-img-top bg-primary"></div>
        <div class="d-flex align-items-center justify-content-between pb-6 px-4">
          <div class="d-flex align-items-center">
            <div
              class="avatar-xxl avatar-indicators avatar-online me-2 position-relative d-flex justify-content-end align-items-end mt-n10">
              <img src="{{user.imageurl}}" class="avatar-xxl rounded-circle border border-2"
                alt="{{#str}} avatar_alt, local_dta {{/str}}" />
            </div>
            <div class="lh-1">
              <h2 class="mb-0">
                {{user.name}}
                <a href="#!" class="text-decoration-none"> </a>
              </h2>
              <p class="mb-0 d-block">{{user.email}}</p>
            </div>
          </div>

          <div class="d-flex align-items-center">
            <a href="{{user.editurl}}" class="btn btn-outline-secondary m-1 d-md-block">{{#str}} editmyprofile, core
              {{/str}}</a>
            {{#experiences.showaddbutton}}
                <a href="{{experiences.addurl}}" class="btn btn-outline-primary m-1 d-md-block">{{#str}}
                    myexperience_add_new_experience, local_dta {{/str}}</a>
            {{/experiences.showaddbutton}}   
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> local_dta/experiences/card-list}}
</div>