<div id="import-cases-modal" class="modal-body">
    <div class="multiselect">
            <div class="d-flex flex-column">
                <div class="input-search-container w-100 rounded-1">
                    <input type="text" class="search-input w-100" placeholder="{{#str}} experience_reflection_import_cases_searchbar_placeholder, local_dta {{/str}}">
                </div>
                <div class="options d-flex flex-column rounded-1 my-2">
                    {{#cases}}
                        <div class="option m-1">
                            <div id="case-{{id}}" class="text-decoration-none d-flex flex-row" style="max-height: 80px">
                                <input type="checkbox" class="shadow-none" value="{{id}}">
                                <label class="ml-2">{{> local_dta/cases/respository-cases-card }}</label>
                            </div>
                        </div>
                    {{/cases}}
                </div>
            </div>
        {{^cases}}
            <div class="alert alert-warning" role="alert">{{#str}} experience_reflection_import_cases_nocases, local_dta {{/str}}</div>
        {{/cases}}
    </div>
</div>