<div id="importer" class="pt-3">
    <div id="add_button" ><i class="fa fa-plus-circle"></i></div>
    <div id="import_div" class="mx-auto">
        <div id="tiny" class="import_button" title="TinyMCE"><i class="fa fa-plus-circle"></i>TinyMCE</div>
        <div id="tiny_record" class="import_button" title="TinyRecord"><i class="fa fa-plus-circle"></i>TinyRecord</div>
        <div id="import_cases" class="import_button" title="Import Cases"><i class="fa fa-plus-circle"></i>Cases</div>
        <div id="import_experiences" class="import_button" title="Import Experiences"><i class="fa fa-plus-circle"></i>Experiences</div>
        <div id="import_tutor_conc" class="import_button" title="Import Tutor Conclusion"><i class="fa fa-plus-circle"></i>Tutor Conclusion</div>
        <div id="import_resources" class="import_button" title="Import Resources"><i class="fa fa-plus-circle"></i>Resources</div>
    </div>
</div>