<div id="reflection-view" class="col-10 mx-auto">
    <h2 class="text-primary mb-3">{{#str}}experience_reflection_view_header, local_dta{{/str}}</h2>
        <div class="sections d-flex flex-column">
            <div id="section_what" class="section d-flex flex-column card card">
                <div class="header d-flex flex-row align-items-center card-header card-header">
                    <h2>{{#str}}experience_reflection_section_what_title, local_dta{{/str}}</h2>
                </div>
                <div id="questions_what" class="questions flex-column card-body card-body">
                    <div class="question d-flex flex-column my-2 p-2 rounded my-2 p-2 rounded">
                        <h3 class="card-title" class="card-title">{{#str}}experience_reflection_section_what_question_1_title, local_dta{{/str}}</h3>
                        <p class="border-bottom">{{#str}}experience_reflection_section_what_question_1_desc, local_dta{{/str}}</p>

                        {{#reflection.sections.WHAT_INTRO}}
                        <div class="card-text px-2" id="introduction_txtarea">{{{content}}}</div>
                        <hr>
                        {{/reflection.sections.WHAT_INTRO}}
           
                    </div>
                    <div class="question d-flex flex-column my-2 p-2 rounded">
                        <h3 class="card-title">{{#str}}experience_reflection_section_what_question_2_title, local_dta{{/str}}</h3>
                        <p class="border-bottom">{{#str}}experience_reflection_section_what_question_2_desc, local_dta{{/str}}</p>
                        {{#reflection.sections.WHAT_CONTEXT}}
                        <div class="card-text px-2" id="problem_txtarea">{{{content}}}</div>
                        <hr>
                        {{/reflection.sections.WHAT_CONTEXT}}
                    </div>
                </div>
            </div>
            <div id="section_so_what" class="section d-flex flex-column card">
                <div class="header d-flex flex-row align-items-center card-header">
                    <h2>{{#str}}experience_reflection_section_sowhat_title, local_dta{{/str}}</h2>
                </div>
                <div class="questions flex-column card-body">
                    <div class="question d-flex flex-column my-2 p-2 rounded">
                        <h3 class="card-title">{{#str}}experience_reflection_section_sowhat_question_1_title, local_dta{{/str}}</h3>
                        <p class="border-bottom">.{{#str}}experience_reflection_section_sowhat_question_1_desc, local_dta{{/str}}</p>
                        {{#reflection.sections.SO_WHAT_HOW}}
                        <div class="card-text px-2" id="sowhat_txtarea">{{{content}}}</div>
                        <hr>
                        {{/reflection.sections.SO_WHAT_HOW}}
                    </div>
                </div>
            </div>
            <div id="section_now_what" class="section d-flex flex-column card">
                <div class="header d-flex flex-row align-items-center card-header">
                    <h2>{{#str}}experience_reflection_section_nowwhat_title, local_dta{{/str}}</h2>
                </div>
                <div class="questions flex-column card-body">
                    <div class="question d-flex flex-column my-2 p-2 rounded rounded">
                        <h3 class="card-title">{{#str}}experience_reflection_section_nowwhat_question_1_title, local_dta{{/str}}</h3>
                        <p class="border-bottom">{{#str}}experience_reflection_section_nowwhat_question_1_desc, local_dta{{/str}}</p>
                        {{#reflection.sections.NOW_WHAT_ACTION}}
                        <div class="card-text px-2" id="action_txtarea">{{{content}}}</div>
                        <hr>
                        {{/reflection.sections.NOW_WHAT_ACTION}}
                    </div>
                    <div class="question d-flex flex-column my-2 p-2 rounded">
                        <h3 class="card-title">{{#str}}experience_reflection_section_nowwhat_question_2_title, local_dta{{/str}}</h3>
                        <p class="border-bottom">{{#str}}experience_reflection_section_nowwhat_question_2_desc, local_dta{{/str}}</p>

                        {{#reflection.sections.NOW_WHAT_REFLECTION}}
                        <div class="card-text px-2" id="learn_txtarea">{{{content}}}</div>
                        <hr>
                        {{/reflection.sections.NOW_WHAT_REFLECTION}}
                    </div>
                </div>
            </div>
            <div id="section_extra" class="section d-flex flex-column card">
                <div class="header d-flex flex-row align-items-center card-header">
                    <h2>{{#str}}experience_reflection_section_extra_title, local_dta{{/str}}</h2>
                </div>
                <div class="questions flex-column card-body">
                    <div class="question d-flex flex-column my-2 p-2 rounded">
                        <h3 class="card-title">{{#str}}experience_reflection_section_extra_question_1_title, local_dta{{/str}}</h3>
                        <p class="border-bottom">{{#str}}experience_reflection_section_extra_question_1_desc, local_dta{{/str}}</p>
                        {{#reflection.sections.EXTRA}}
                        <div class="card-text px-2" id="learn_txtarea">{{{content}}}</div>
                        <hr>
                        {{/reflection.sections.EXTRA}}
                    </div>
                </div>
            </div>
    </div>
</div>