{{#experience}}
  <input type="hidden" id="reflectionid" value="{{reflection.id}}" />
  <div class="parent col-10 mx-auto">
    <div class="sections d-flex flex-column">
      <ul id="stepbar">
        <li class="btn active" id="btn_what">
          {{#str}}experience_reflection_section_what_title, local_dta{{/str}}
        </li>
        <li class="btn" id="btn_so_what">
          {{#str}}experience_reflection_section_sowhat_title, local_dta{{/str}}
        </li>
        <li class="btn" id="btn_now_what">
          {{#str}}experience_reflection_section_nowwhat_title, local_dta{{/str}}
        </li>
      </ul>

      {{> local_dta/experiences/manage/what-section }}

      {{> local_dta/experiences/manage/so-what-section }}

      {{> local_dta/experiences/manage/now-what-section }}
    </div>
  </div>
{{/experience}}