<input type="hidden" id="reflectionid" value="{{reflection.id}}" />
<div class="parent col-10 mx-auto">
  <div class="sections d-flex flex-column">
    <ul id="stepbar">
      <li class="btn active" id="btn_what">
        {{#str}}experience_reflection_section_what_title, local_dta{{/str}}
      </li>
      <li class="btn" id="btn_so_what">
        {{#str}}experience_reflection_section_sowhat_title, local_dta{{/str}}
      </li>
      <li class="btn" id="btn_now_what">
        {{#str}}experience_reflection_section_nowwhat_title, local_dta{{/str}}
      </li>
    </ul>

    <div id="section_what" class="section active flex-column">
      <div class="header d-flex flex-row align-items-center">
        <h2>
          {{#str}}experience_reflection_section_what_title, local_dta{{/str}}
        </h2>
      </div>

      <div id="questions_what" class="questions flex-column">
        <div class="question d-flex flex-column">
        
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="title" class="text-secondary font-weight-bold">{{#str}}form_experience_title, local_dta{{/str}}</label>
          <input type="text" value="{{title}}" class="form-control" id="experience_title" placeholder="Write a meaningful title..." />
        </div>
      </div>
      <div class="form-row">
      <div class="form-group col-md-4">
          <label for="experience_visibility" class="text-secondary font-weight-bold">{{#str}}form_experience_visibility, local_dta{{/str}}</label>
          <select id="experience_visibility" class="form-control">
            <option value="1" class="text-capitalize">{{#str}}form_experience_visibility_public, local_dta{{/str}}</option>
            <option value="0" class="text-capitalize">{{#str}}form_experience_visibility_private, local_dta{{/str}}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="experience_lang" class="text-secondary font-weight-bold">{{#str}}form_experience_lang, local_dta{{/str}}</label>
          <select id="experience_lang" class="form-control">
            <option value="en" class="text-capitalize" selected>English</option>
            <option value="es" class="text-capitalize">Spanish</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="tags" class="text-secondary font-weight-bold">{{#str}}form_experience_tags, local_dta{{/str}}</label>
          <select id="tags" class="form-control">
            <option value="1" class="text-capitalize" selected>Tag 1</option>
            <option value="2" class="text-capitalize">Tag 2</option>
            <option value="3" class="text-capitalize">Tag 3</option>
            <option value="4" class="text-capitalize">Tag 4</option>
            <option value="5" class="text-capitalize">Tag 5</option>
            <option value="6" class="text-capitalize">Tag 6</option>
          </select>
        </div>
      </div>
      <div id="selected-tags" class="mb-4">
        <p class="text-secondary font-weight-bold">{{#str}}form_experience_selected_tags, local_dta{{/str}}</p>
        <div id="tag-list" class="row col-12">
          <div class="bg-primary text-white text-center text-lowercase rounded mw-10 mx-2 px-2">public</div> <!-- Placeholder tag -->
          <div class="bg-primary text-white text-center text-lowercase rounded mw-10 mx-2 px-2">english</div>
          <div class="bg-primary text-white text-center text-lowercase rounded mw-10 mx-2 px-2">tag 1</div>
          <div class="bg-primary text-white text-center text-lowercase rounded mw-10 mx-2 px-2">tag 2</div>
        </div>
      </div>
          <h3>
            {{#str}}experience_reflection_section_what_question_1_title,
            local_dta{{/str}}
          </h3>
          <p>
            {{#str}}experience_reflection_section_what_question_1_desc,
            local_dta{{/str}}
          </p>
          <textarea name="" cols="" rows="" class="editor form-control" id="experience_introduction">{{content}}</textarea>
          <hr />
        </div>
        <div class="question d-flex flex-column">
          <h3>
            {{#str}}experience_reflection_section_what_question_2_title,
            local_dta{{/str}}
          </h3>
          <p>
            {{#str}}experience_reflection_section_what_question_2_desc,
            local_dta{{/str}}
          </p>
          <textarea name="" cols="5" rows="5" class="editor form-control" id="experience_problem"></textarea>
        </div>
        <button class="btn btn-primary mt-3" id="experience_submit">
          {{#str}}save, local_dta{{/str}}
        </button>
      </div>
    </div>

    <div id="section_so_what" class="section flex-column">
      <div class="header d-flex flex-row align-items-center">
        <h2>
          {{#str}}experience_reflection_section_sowhat_title, local_dta{{/str}}
        </h2>
      </div>
      <div class="questions flex-column">
        <div class="question d-flex flex-column">
          <h3>
            {{#str}}experience_reflection_section_sowhat_question_1_title,
            local_dta{{/str}}
          </h3>
          <p>
            .{{#str}}experience_reflection_section_sowhat_question_1_desc,
            local_dta{{/str}}
          </p>
          {{#reflection.sections.SO_WHAT_HOW}}
          <textarea name="" cols="" rows="" class="editor form-control" id="sowhat_txtarea">
{{content}}</textarea>
          <button class="btn btn-primary mt-3 submit" data-group="SO_WHAT_HOW" data-target="sowhat_txtarea"
            data-id="{{id}}">
            {{#str}}save, local_dta{{/str}}
          </button>
          <hr />
          {{/reflection.sections.SO_WHAT_HOW}}
          {{^reflection.sections.SO_WHAT_HOW}}
          <textarea name="" cols="" rows="" class="editor form-control" id="sowhat_txtarea"></textarea>
          <button class="btn btn-primary mt-3 submit" data-group="SO_WHAT_HOW" data-target="sowhat_txtarea" data-id="0">
            {{#str}}save, local_dta{{/str}}
          </button>
          {{/reflection.sections.SO_WHAT_HOW}} {{>
          local_dta/experiences/manage/reflection-importer}}
        </div>
      </div>
    </div>

    <div id="section_now_what" class="section flex-column">
      <div class="header d-flex flex-row align-items-center">
        <h2>
          {{#str}}experience_reflection_section_nowwhat_title, local_dta{{/str}}
        </h2>
      </div>
      <div class="questions flex-column">
        <div class="question d-flex flex-column">
          <h3>
            {{#str}}experience_reflection_section_nowwhat_question_1_title,
            local_dta{{/str}}
          </h3>
          <p>
            {{#str}}experience_reflection_section_nowwhat_question_1_desc,
            local_dta{{/str}}
          </p>
          {{#reflection.sections.NOW_WHAT_ACTION}}
          <textarea name="" cols="" rows="" class="editor form-control" id="action_txtarea">
{{content}}</textarea>
          <button class="btn btn-primary mt-3 submit" data-group="NOW_WHAT_ACTION" data-target="action_txtarea"
            data-id="{{id}}">
            {{#str}}save, local_dta{{/str}}
          </button>
          <hr />
          {{/reflection.sections.NOW_WHAT_ACTION}}
          {{^reflection.sections.NOW_WHAT_ACTION}}
          <textarea name="" cols="" rows="" class="editor form-control" id="action_txtarea"></textarea>
          <button class="btn btn-primary mt-3 submit" data-group="NOW_WHAT_ACTION" data-target="action_txtarea"
            data-id="0">
            {{#str}}save, local_dta{{/str}}
          </button>
          {{/reflection.sections.NOW_WHAT_ACTION}} {{>
          local_dta/experiences/manage/reflection-importer}}
        </div>
        <div class="question d-flex flex-column">
          <h3>
            {{#str}}experience_reflection_section_nowwhat_question_2_title,
            local_dta{{/str}}
          </h3>
          <p>
            {{#str}}experience_reflection_section_nowwhat_question_2_desc,
            local_dta{{/str}}
          </p>

          {{#reflection.sections.NOW_WHAT_REFLECTION}}
          <textarea name="" cols="" rows="" class="editor form-control" id="learn_txtarea">
{{content}}</textarea>
          <button class="btn btn-primary mt-3 submit" data-group="NOW_WHAT_REFLECTION" data-target="learn_txtarea"
            data-id="{{id}}">
            {{#str}}save, local_dta{{/str}}
          </button>
          <hr />
          {{/reflection.sections.NOW_WHAT_REFLECTION}}
          {{^reflection.sections.NOW_WHAT_REFLECTION}}
          <textarea name="" cols="" rows="" class="editor form-control" id="learn_txtarea"></textarea>
          <button class="btn btn-primary mt-3 submit" data-group="NOW_WHAT_REFLECTION" data-target="learn_txtarea"
            data-id="0">
            {{#str}}save, local_dta{{/str}}
          </button>
          {{/reflection.sections.NOW_WHAT_REFLECTION}} {{>
          local_dta/experiences/manage/reflection-importer}}
        </div>
      </div>
    </div>
  </div>
</div>