<input type="hidden" id="reflectionid" value="{{reflection.id}}" />
<div class="parent col-10 mx-auto">
  <h2>{{#str}}experience_reflection_header, local_dta{{/str}}</h2>
  <div class="sections d-flex flex-column">
    <div id="section_what" class="section d-flex flex-column">
      <div class="header d-flex flex-row align-items-center">
        <a id="collapse_button" class="text-decoration-none"><i class="fa fa-chevron-down"></i></a>
        <h2>
          {{#str}}experience_reflection_section_what_title, local_dta{{/str}}
        </h2>
      </div>

      <div id="questions_what" class="questions flex-column">
        <div class="question d-flex flex-column">
        
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="title">Title of your experience</label>
          <input type="email" class="form-control" id="title" placeholder="Email" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="lang">Language</label>
          <select id="lang" class="form-control">
            <option value="en" selected>English</option>
            <option value="es">Spanish</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputState">Visibility</label>
          <select id="inputState" class="form-control">
            <option value="1">Public</option>
            <option value="0">Private</option>
          </select>
        </div>
      </div>


          <h3>
            {{#str}}experience_reflection_section_what_question_1_title,
            local_dta{{/str}}
          </h3>
          <p>
            {{#str}}experience_reflection_section_what_question_1_desc,
            local_dta{{/str}}
          </p>
          <textarea name="" cols="" rows="" class="editor form-control" id="introduction_txtarea">
{{content}}</textarea>
          <hr />
        </div>
        <div class="question d-flex flex-column">
          <h3>
            {{#str}}experience_reflection_section_what_question_2_title,
            local_dta{{/str}}
          </h3>
          <p>
            {{#str}}experience_reflection_section_what_question_2_desc,
            local_dta{{/str}}
          </p>
          <textarea name="" cols="" rows="" class="editor form-control" id="problem_txtarea"></textarea>
        </div>
        <button class="btn btn-primary mt-3 submit" data-group="WHAT_CONTEXT" data-target="problem_txtarea" data-id="0">
          {{#str}}save, local_dta{{/str}}
        </button>
      </div>
    </div>

    <div id="section_so_what" class="section d-flex flex-column">
      <div class="header d-flex flex-row align-items-center">
        <a id="collapse_button" class="text-decoration-none"><i class="fa fa-chevron-down"></i></a>
        <h2>
          {{#str}}experience_reflection_section_sowhat_title, local_dta{{/str}}
        </h2>
      </div>
      <div class="questions flex-column">
        <div class="question d-flex flex-column">
          <h3>
            {{#str}}experience_reflection_section_sowhat_question_1_title,
            local_dta{{/str}}
          </h3>
          <p>
            .{{#str}}experience_reflection_section_sowhat_question_1_desc,
            local_dta{{/str}}
          </p>
          {{#reflection.sections.SO_WHAT_HOW}}
          <textarea name="" cols="" rows="" class="editor form-control" id="sowhat_txtarea">
{{content}}</textarea>
          <button class="btn btn-primary mt-3 submit" data-group="SO_WHAT_HOW" data-target="sowhat_txtarea"
            data-id="{{id}}">
            {{#str}}save, local_dta{{/str}}
          </button>
          <hr />
          {{/reflection.sections.SO_WHAT_HOW}}
          {{^reflection.sections.SO_WHAT_HOW}}
          <textarea name="" cols="" rows="" class="editor form-control" id="sowhat_txtarea"></textarea>
          <button class="btn btn-primary mt-3 submit" data-group="SO_WHAT_HOW" data-target="sowhat_txtarea" data-id="0">
            {{#str}}save, local_dta{{/str}}
          </button>
          {{/reflection.sections.SO_WHAT_HOW}} {{>
          local_dta/experiences/manage/reflection-importer}}
        </div>
      </div>
    </div>

    <div id="section_now_what" class="section d-flex flex-column">
      <div class="header d-flex flex-row align-items-center">
        <a id="collapse_button" class="text-decoration-none"><i class="fa fa-chevron-down"></i></a>
        <h2>
          {{#str}}experience_reflection_section_nowwhat_title, local_dta{{/str}}
        </h2>
      </div>
      <div class="questions flex-column">
        <div class="question d-flex flex-column">
          <h3>
            {{#str}}experience_reflection_section_nowwhat_question_1_title,
            local_dta{{/str}}
          </h3>
          <p>
            {{#str}}experience_reflection_section_nowwhat_question_1_desc,
            local_dta{{/str}}
          </p>
          {{#reflection.sections.NOW_WHAT_ACTION}}
          <textarea name="" cols="" rows="" class="editor form-control" id="action_txtarea">
{{content}}</textarea>
          <button class="btn btn-primary mt-3 submit" data-group="NOW_WHAT_ACTION" data-target="action_txtarea"
            data-id="{{id}}">
            {{#str}}save, local_dta{{/str}}
          </button>
          <hr />
          {{/reflection.sections.NOW_WHAT_ACTION}}
          {{^reflection.sections.NOW_WHAT_ACTION}}
          <textarea name="" cols="" rows="" class="editor form-control" id="action_txtarea"></textarea>
          <button class="btn btn-primary mt-3 submit" data-group="NOW_WHAT_ACTION" data-target="action_txtarea"
            data-id="0">
            {{#str}}save, local_dta{{/str}}
          </button>
          {{/reflection.sections.NOW_WHAT_ACTION}} {{>
          local_dta/experiences/manage/reflection-importer}}
        </div>
        <div class="question d-flex flex-column">
          <h3>
            {{#str}}experience_reflection_section_nowwhat_question_2_title,
            local_dta{{/str}}
          </h3>
          <p>
            {{#str}}experience_reflection_section_nowwhat_question_2_desc,
            local_dta{{/str}}
          </p>

          {{#reflection.sections.NOW_WHAT_REFLECTION}}
          <textarea name="" cols="" rows="" class="editor form-control" id="learn_txtarea">
{{content}}</textarea>
          <button class="btn btn-primary mt-3 submit" data-group="NOW_WHAT_REFLECTION" data-target="learn_txtarea"
            data-id="{{id}}">
            {{#str}}save, local_dta{{/str}}
          </button>
          <hr />
          {{/reflection.sections.NOW_WHAT_REFLECTION}}
          {{^reflection.sections.NOW_WHAT_REFLECTION}}
          <textarea name="" cols="" rows="" class="editor form-control" id="learn_txtarea"></textarea>
          <button class="btn btn-primary mt-3 submit" data-group="NOW_WHAT_REFLECTION" data-target="learn_txtarea"
            data-id="0">
            {{#str}}save, local_dta{{/str}}
          </button>
          {{/reflection.sections.NOW_WHAT_REFLECTION}} {{>
          local_dta/experiences/manage/reflection-importer}}
        </div>
      </div>
    </div>
  </div>
</div>