<input type="hidden" id="reflectionid" value="{{reflection.id}}" />
<div class="parent col-10 mx-auto">
  <div class="sections d-flex flex-column">
    <ul id="stepbar">
      <li class="btn active" id="btn_what">{{#str}}experience_reflection_section_what_title, local_dta{{/str}}</li>
      <li class="btn" id="btn_so_what">{{#str}}experience_reflection_section_sowhat_title, local_dta{{/str}}</li>
      <li class="btn" id="btn_now_what">{{#str}}experience_reflection_section_nowwhat_title, local_dta{{/str}}</li>
    </ul>

    <div id="section_what" class="section active flex-column">
      <div class="header d-flex flex-row align-items-center">
        <h2>
          {{#str}}experience_reflection_section_what_title, local_dta{{/str}}
        </h2>
      </div>

      <div id="questions_what" class="questions flex-column">
        <div class="question d-flex flex-column">
        
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="title">Title of your experience</label>
          <input type="text" value="{{title}}" class="form-control" id="title" placeholder="Write a meaningful title..." />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="lang">Language</label>
          <select id="lang" class="form-control">
            <option value="en" selected>English</option>
            <option value="es">Spanish</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputState">Visibility</label>
          <select id="inputState" class="form-control">
            <option value="1">Public</option>
            <option value="0">Private</option>
          </select>
        </div>
      </div>


          <h3>
            {{#str}}experience_reflection_section_what_question_1_title,
            local_dta{{/str}}
          </h3>
          <p>
            {{#str}}experience_reflection_section_what_question_1_desc,
            local_dta{{/str}}
          </p>
          <textarea name="" cols="" rows="" class="editor form-control" id="introduction_txtarea">{{content}}</textarea>
          <hr />
        </div>
        <div class="question d-flex flex-column">
          <h3>
            {{#str}}experience_reflection_section_what_question_2_title,
            local_dta{{/str}}
          </h3>
          <p>
            {{#str}}experience_reflection_section_what_question_2_desc,
            local_dta{{/str}}
          </p>
          <textarea name="" cols="" rows="" class="editor form-control" id="problem_txtarea"></textarea>
        </div>
        <button class="btn btn-primary mt-3 submit" data-group="WHAT_CONTEXT" data-target="problem_txtarea" data-id="0">
          {{#str}}save, local_dta{{/str}}
        </button>
      </div>
    </div>

    <div id="section_so_what" class="section flex-column">
      <div class="header d-flex flex-row align-items-center">
        <h2>
          {{#str}}experience_reflection_section_sowhat_title, local_dta{{/str}}
        </h2>
      </div>
      <div class="questions flex-column">
        <div class="question d-flex flex-column">
          <h3>
            {{#str}}experience_reflection_section_sowhat_question_1_title,
            local_dta{{/str}}
          </h3>
          <p>
            .{{#str}}experience_reflection_section_sowhat_question_1_desc,
            local_dta{{/str}}
          </p>
          {{#reflection.sections.SO_WHAT_HOW}}
          <textarea name="" cols="" rows="" class="editor form-control" id="sowhat_txtarea">{{content}}</textarea>
          <button class="btn btn-primary mt-3 submit" data-group="SO_WHAT_HOW" data-target="sowhat_txtarea"
            data-id="{{id}}">
            {{#str}}save, local_dta{{/str}}
          </button>
          <hr />
          {{/reflection.sections.SO_WHAT_HOW}}
          {{^reflection.sections.SO_WHAT_HOW}}
          <textarea name="" cols="" rows="" class="editor form-control" id="sowhat_txtarea"></textarea>
          <button class="btn btn-primary mt-3 submit" data-group="SO_WHAT_HOW" data-target="sowhat_txtarea" data-id="0">
            {{#str}}save, local_dta{{/str}}
          </button>
          {{/reflection.sections.SO_WHAT_HOW}} {{>
          local_dta/experiences/manage/reflection-importer}}
        </div>
      </div>
    </div>

    <div id="section_now_what" class="section flex-column">
      <div class="header d-flex flex-row align-items-center">
        <h2>
          {{#str}}experience_reflection_section_nowwhat_title, local_dta{{/str}}
        </h2>
      </div>
      <div class="questions flex-column">
        <div class="question d-flex flex-column">
          <h3>
            {{#str}}experience_reflection_section_nowwhat_question_1_title,
            local_dta{{/str}}
          </h3>
          <p>
            {{#str}}experience_reflection_section_nowwhat_question_1_desc,
            local_dta{{/str}}
          </p>
          {{#reflection.sections.NOW_WHAT_ACTION}}
          <textarea name="" cols="" rows="" class="editor form-control" id="action_txtarea">{{content}}</textarea>
          <button class="btn btn-primary mt-3 submit" data-group="NOW_WHAT_ACTION" data-target="action_txtarea"
            data-id="{{id}}">
            {{#str}}save, local_dta{{/str}}
          </button>
          <hr />
          {{/reflection.sections.NOW_WHAT_ACTION}}
          {{^reflection.sections.NOW_WHAT_ACTION}}
          <textarea name="" cols="" rows="" class="editor form-control" id="action_txtarea"></textarea>
          <button class="btn btn-primary mt-3 submit" data-group="NOW_WHAT_ACTION" data-target="action_txtarea"
            data-id="0">
            {{#str}}save, local_dta{{/str}}
          </button>
          {{/reflection.sections.NOW_WHAT_ACTION}} {{>
          local_dta/experiences/manage/reflection-importer}}
        </div>
        <div class="question d-flex flex-column">
          <h3>
            {{#str}}experience_reflection_section_nowwhat_question_2_title,
            local_dta{{/str}}
          </h3>
          <p>
            {{#str}}experience_reflection_section_nowwhat_question_2_desc,
            local_dta{{/str}}
          </p>

          {{#reflection.sections.NOW_WHAT_REFLECTION}}
          <textarea name="" cols="" rows="" class="editor form-control" id="learn_txtarea">{{content}}</textarea>
          <button class="btn btn-primary mt-3 submit" data-group="NOW_WHAT_REFLECTION" data-target="learn_txtarea"
            data-id="{{id}}">
            {{#str}}save, local_dta{{/str}}
          </button>
          <hr />
          {{/reflection.sections.NOW_WHAT_REFLECTION}}
          {{^reflection.sections.NOW_WHAT_REFLECTION}}
          <textarea name="" cols="" rows="" class="editor form-control" id="learn_txtarea"></textarea>
          <button class="btn btn-primary mt-3 submit" data-group="NOW_WHAT_REFLECTION" data-target="learn_txtarea"
            data-id="0">
            {{#str}}save, local_dta{{/str}}
          </button>
          {{/reflection.sections.NOW_WHAT_REFLECTION}} {{>
          local_dta/experiences/manage/reflection-importer}}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .parent {

    /*stepbar*/
    #stepbar {
      margin-bottom: 30px;
      overflow: hidden;
      margin: auto;
      /*CSS counters to number the steps*/
      counter-reset: step;
    }
    #stepbar li {
      border: none !important;
      list-style-type: none;
      color: black;
      background: transparent;
      outline: none;
      text-transform: uppercase;
      font-size: 12px;
      width: 10rem;
      float: left;
      position: relative;
    }
    #stepbar li:before {
      content: counter(step);
      counter-increment: step;
      width: 20px;
      line-height: 20px;
      display: block;
      font-size: 10px;
      color: white;
      background: #333;
      border-radius: 3px;
      margin: 0 auto 5px auto;
    }
    /*stepbar connectors*/
    #stepbar li:after {
      content: '';
      width: 100%;
      height: 2px;
      background: white;
      position: absolute;
      left: -50%;
      top: 9px;
      z-index: -1; /*put it behind the numbers*/
    }
    #stepbar li:first-child:after {
      /*connector not needed before the first step*/
      content: none; 
    }
    /*marking active/completed steps green*/
    /*The number of the step and the connector before it = green*/
    #stepbar li.active:before,  #stepbar li.active:after{
      background: #27AE60;
      color: white;
    }

  }
</style>
