<div id="importer" class="pt-3 collapsed">
    <div id="add_button" ><i class="fa fa-plus-circle"></i></div>
    <div id="import_div" class="mx-auto">
        <div id="import_cases" class="import_button" title="Import Cases"><i class="fa fa-plus-circle"></i>Cases</div>
        <div id="import_resources" class="import_button" title="Import Resources"><i class="fa fa-plus-circle"></i>Resources</div>
    </div>
</div>