<div class="experience-card shadow-sm">
  <div class="exp-card-head">
    {{> local_dta/general/card-metadata}}
  </div>
  <div class="exp-card-body col-12 p-0 m-0">
    {{#pictureurl}}
      <div class="exp-img-container border-bottom  col-12 col-md-2">
        <a href="{{experiences.viewurl}}{{id}}">
          <img
            src="{{.}}"
            alt="{{#str}} experience_picture_alt, local_dta {{/str}}"
            class="img-fluid experience-card-img p-0"
            style="object-fit: cover; max-height: 200px, width: 100%;"
          />
        </a>
      </div>
    {{/pictureurl}}
    
    <div class="experience-card-body col-12 col-md-10">
      <h4 class="mb-1 experience-card-title">
      <a href="{{experiences.viewurl}}{{id}}" class="experience-card-title text-secondary">{{title}}</a>
      </h4>
      
      <a href="{{experiences.viewurl}}{{id}}">
      <div class="experience-description mb-3 text-dark">{{{description}}}</div>
      </a>
    </div>
  </div>
  <div class="card-action-btns">
    {{#reactions}}
      {{> local_dta/reactions/reactions-buttons}}
    {{/reactions}}
    {{> local_dta/tags/tags-list}}
  </div>
</div>
