<div class="container-fluid col-12 col-sm-10 digitalta-experiences">
    <!--Section: Title-->
    <section data-section-name="digitalta-experiences-title" class="mb-4">
        <div class="container-fluid d-flex">
            <div class="row align-items-justify">
                <div class="col-12">
                    <div class="digitalta-subtitle">DigitalTA</div>
                    <h1 class="digitalta-title display-3">{{{title}}}</h1>
                    {{#needstranslation}}
                        {{> local_digitalta/_common/translate-button}}
                    {{/needstranslation}}
                </div>
            </div>
        </div>
    </section>
    <!--Section: Introduction-->
    <section data-section-name="digitalta-experiences-introduction" class="mb-4">
        <div class="container-fluid d-flex text-center">
            <div class="row align-items-center">
                <div class="col-12 text-justify" style="line-height: 2em;">
                    {{#str}} experiences:description, local_digitalta {{/str}}
                    <p><span class="digitalta-highlighted help-video-icon" data-video="experience-video"> <i class="fa fa-play-circle mr-2" style="font-size: 18px" aria-hidden="true"></i>{{#str}} help:learn_more_about, local_digitalta, {{#str}}concept:experiences:lowercase, local_digitalta{{/str}}{{/str}} </span></p>
                </div>
            </div>
        </div>
    </section>
    <!--Section: Experiences-->
    <section data-section-name="digitalta-experiences-list" class="mb-4">
        <div class="container-fluid d-flex my-2">
            <!--Filter chips-->
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle custom-dropdown-toggle" style="height: fit-content" data-toggle="dropdown" data-display="static" aria-expanded="false">
                    <span>{{#str}} filters:title, local_digitalta {{/str}}</span>
                    <i class="fa fa-filter"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-left dropdown-menu-lg-right px-2" id="filters-menu">
                    <div class="input-group mb-3 filterTheme" style="width: 300px" id="filterThemeSelect"></div>

                    {{> local_digitalta/_common/filterTag }}

                    {{> local_digitalta/_common/filterAuthors }}

                    <div class="input-group mb-3" style="width: 300px" id="filterLanguageSelect"></div>
                </div>
            </div>

            <div id="filtersList">
                {{> local_digitalta/_common/filterList }}
            </div>
            <!--Filter chips-->
        </div>
        <div class="container-fluid d-flex my-2" id="list-experience-body"></div>
        <div class="d-flex justify-content-center" id="digital-pagination">
            {{> local_digitalta/_common/pagination }}
        </div>
    </section>
</div>

{{#js}}
    require(['local_digitalta/experiences/provider'],function(Provider){
        Provider.init()
    })
{{/js}}

<style>
    .custom-dropdown-toggle::after {
        display: none; /* Esto oculta el ícono de flecha del dropdown */
    }
    .autocomplete-suggestions {
        border: 1px solid #ccc;
        max-height: 167px;
        overflow-y: auto;
        list-style: none;
        padding: 0;
        margin-top: 0;
        margin-left: 310px;
        background-color: white;
        position: absolute;
        z-index: 1000;
        width: 100%;
    }

    .autocomplete-suggestions li {
        padding: 10px;
        cursor: pointer;
    }

    .list-group-item {
        border: none!important;
    }

    .autocomplete-suggestions li:hover {
        background-color: #f0f0f0;
    }
</style>
