<div class="row card-list w-100 p-0 m-0">
    {{#experiences}}
        {{#data}}
            <div class="col-12 col-xl-6 mb-4 px-2 experience">{{> local_digitalta/experiences/dashboard/experience }}</div>
        {{/data}}
    {{/experiences}}
</div>
