<div class="experience col-4">
    {{#pictureurl}}
    <div class="experience-img bg-primary w-100 overflow-hidden" style="height: 100px;">
        <img
            src="{{pictureurl}}"
            alt="{{#str}} myexperience_picture_alt, local_dta {{/str}}"
            class="img-fluid experience-card-img"
        />
    </div>
    {{/pictureurl}}
    <h4>
        <a href="{{experiences.viewurl}}{{id}}" class="text-decoration-none">{{title}}</a>
    </h4>
    <a href="{{experiences.viewurl}}{{id}}" class="text-decoration-none">
        <p>{{{description}}}</p>
    </a>
</div>