<div class="col-8 px-0">
    <h2>Recent Experiences</h2>
    <div class="experiences d-flex flex-row flex-wrap"><!-- grid -->
    {{#experiences.data}}
        {{> local_dta/home/recent-card }}
    {{/experiences.data}}
    </div>
</div>