<div class="w-100 mh-25  mb-3">
    <h2 class="text-primary">Themes</h2>
    <marquee style="border-radius: 50px;">
        <div class="themes d-flex flex-col justify-content-start">
            {{#tags}}
                {{> local_dta/home/themes-item }}
            {{/tags}}
        </div>
    </marquee>
</div>