<div class="card">
  <div class="card-header">
    <div class="d-flex flex-row align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <h2>{{chatroom.name}}</h2>
      </div>
      {{#chatroom.videocall}}
        <div class="d-inline-block socialize-button">
            {{{button}}}
            {{#closebutton}}
                <button class="btn btn-danger btn-sm" id="close-videocall-from-chat" data-chatid="{{.}}">Close Call</button>
            {{/closebutton}}
        </div>  
      {{/chatroom.videocall}}
    </div>
  </div>
  <div class="card-body">
    <div class="d-flex align-items-center">
      {{^hideBack}}
        <button class="btn btn-light" id="back-menu">
          <i class="fa fa-arrow-left"></i>
        </button>
      {{/hideBack}}
      {{#hideBack}}
        <button class="btn btn-light" id="back-menu-experience">
          <i class="fa fa-arrow-left"></i>
        </button>
      {{/hideBack}}
      <div class="chat-users">
        {{#chatroom.users}}
        <span>{{firstname}} {{lastname}}</span>
        {{/chatroom.users}}
      </div>
    </div>
    <div class="group-users">
      <h2>{{group_chat_name}}</h2>

      <div class="d-flex">
        {{#user_list}} {{> local_digitalta/test/chat/users}} {{/user_list}}
      </div>
    </div>

    <div class="chat-container rounded border border-primary p-3 mt-2">
      <div class="messages" id="message-list">
        {{> local_digitalta/test/chat/loading-skeleton}}
      </div>
    </div>
    {{> local_digitalta/test/chat/input}}
  </div>
</div>
