<div class="card chat-card mt-3">
  <div class="card-body">
    <div class="chat-container rounded p-3">
      <div class="messages" id="message-list">
        <div class="loading">
          <div class="d-flex flex-row justify-content-end mb-1">
            <div class="skeleton skeleton-text"></div>
          </div>
          <div class="d-flex flex-row justify-content-start align-items-end mb-1">
            <div class="skeleton skeleton-img"></div>
            <div class="skeleton skeleton-text"></div>
          </div>
          <div class="d-flex flex-row justify-content-end mb-1">
            <div class="skeleton skeleton-text"></div>
          </div>
          <div class="d-flex flex-row justify-content-end mb-1">
            <div class="skeleton skeleton-text"></div>
          </div>
        </div>
      </div>
    </div>
    {{> local_digitalta/test/chat/input}}
  </div>
</div>
