<div class="card">
  <div class="card-header">
    <div class="d-flex flex-row align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <div
          class="data-tooltip"
          data-tooltip-content="{{#str}}tutoring:view_tooltip, local_dta{{/str}}"
        >
          <i class="fa fa-question"></i>
        </div>
        <h2>{{#str}}tutoring:title, local_dta{{/str}}</h2>
      </div>
      <span class="badge badge-pill badge-danger">2 Tutoring Requests</span>
    </div>
  </div>
  <div class="card-body">
    <div class="d-flex align-items-center">
      <button class="btn btn-light" id="back-menu">
        <i class="fa fa-arrow-left"></i>
      </button>
    </div>
    <div class="group-users">
      <h2>{{group_chat_name}}</h2>

      <div class="d-flex">
        {{#user_list}} {{> local_dta/test/chat/users}} {{/user_list}}
      </div>
    </div>

    <div class="chat-container rounded border border-primary p-3 mt-2">
      <div class="messages" id="message-list">
        
      </div>
    </div>
    {{> local_dta/test/chat/input}}
  </div>
</div>
