<div class="user-message-container d-flex justify-content-end mb-1">
  <div class="user-message-box bg-primary rounded-left rounded-top p-3 mt-2">
    <p class="text-left">{{text}}</p>
    <p class="time m-0 text-right"></em>{{time}}</em></p>
  </div>
</div>
