<div class="card chat-card mt-3">
  <div class="card-body">
    <div class="chat-container rounded p-3">
      <div class="messages" id="message-list">
        {{> local_digitalta/test/chat/loading-skeleton}}
      </div>
    </div>
    {{> local_digitalta/test/chat/input}}
  </div>
</div>
