<div class="case w-100 mb-4">
    <a class="text-dark text-justify" href="{{cases.viewurl}}{{id}}">
        <div class="translatable-content">
            <h3 class="text-primary title-container" title="{{title}}">{{title}}</h3>
            <div class="description-container">{{{description}}}</div>
        </div>
    </a>
</div>