<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Autor</span>
    </div>
    <input type="text" class="form-control input-label-crosser" id="autorFilters" aria-label="Sizing example input">
    <div id="suggestionsAutors" class="list-group suggestionsAutors"></div>
</div>