<div class="input-group mb-3 autocomplete-wrapper">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">{{#str}} filters:tag, local_digitalta {{/str}}</span>
    </div>
    <input type="text" class="form-control tagsInputFilter" id="inlineFormInputGroup">
    <div id="suggestionsTags" class="list-group suggestionsTags"></div>
</div>
