<div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Lenguaje</label>
</div>
<select class="custom-select filterLanguageSelect" id="inputGroupSelect01">
    <option selected>Choose...</option>
    {{#languages}}
    <option value="{{.}}" class="enable">{{.}}</option>
    {{/languages}}
</select>