<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">{{#str}} filters:author, local_digitalta {{/str}}</span>
    </div>
    <input type="text" class="form-control input-label-crosser" id="authorFilters" aria-label="Sizing example input">
    <div id="suggestionsAuthors" class="list-group suggestionsAuthors"></div>
</div>