<ul class="autocomplete-suggestions list-group list-group-authors" id="list-group-authors" style="margin-left: 5px">
    {{#users}}
        <li class="list-group-item author-item enable" attr-id-user="{{id}}" attr-name="{{fullname}}">
            {{fullname}}
        </li>
    {{/users}}
</ul>