<ul class="autocomplete-suggestions list-group list-group-tag" id="list-group-tag" style="margin-left: 5px">
    {{#tags}}
        <li class="list-group-item tag-item enable" attr-name="{{.}}">
            {{.}}
        </li>
    {{/tags}}
</ul>