<nav class="digitalta pagination" data-page-count="{{pagesCount}}" data-current-page="{{currentPage}}">
    <ul class="pagination">
        <li class="page-item page-link state {{#disablePrevious}}disabled{{/disablePrevious}}" aria-label="Previous" style="cursor: pointer">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </li>
        {{#pages}}
            <li class="page-item page-link page" style="cursor: pointer;{{#selected}}
                background-color: #e9ecef;
            {{/selected}}" attr-page="{{page}}">{{page}}</li>
        {{/pages}}
        <li class="page-item page-link state {{#disableNext}}disabled{{/disableNext}}" aria-label="Next" style="cursor: pointer">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </li>
    </ul>
</nav>