<nav class="digitalta pagination">
    <ul class="pagination">
        <li class="page-item page-link state" aria-label="Previous" style="cursor: pointer">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </li>
        {{#pages}}
            <li class="page-item page-link page" style="cursor: pointer;{{#selected}}
                background-color: #e9ecef;
            {{/selected}}" attr-page="{{page}}">{{page}}</li>
        {{/pages}}
        <li class="page-item page-link state" aria-label="Next" style="cursor: pointer">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </li>
    </ul>
</nav>