<div class="tags d-flex">
    <div class="d-flex flex-row flex-wrap justify-content-end" style="gap: .5em 0;">
        {{> local_digitalta/_common/themetag-list-themes}}
        {{> local_digitalta/_common/themetag-list-tags}}
        {{> local_digitalta/_common/themetag-list-fixed-tags}}
    </div>
</div>