<style>
  .translate-action {
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
  }

  .translate-action:hover {
    filter: brightness(130%);
  }
  .translate-icon {
    vertical-align: middle;
  }
</style>
<div class="translate-action digitalta-subtitle mt-3" data-translated="false">{{#str}} seetranslation, local_digitalta {{/str}}<i class="fa fa-language translate-icon fa-2x ml-1" aria-hidden="true"></i></div>
