<div class="title">
  <h1 class="dta-title">
    {{#str}} repository_title, local_dta {{/str}}
  </h1>
</div>

<div class="searchbar shadow">
  {{> local_dta/repository/searchbar }}
</div>
<div class="content">
  {{> local_dta/repository/repository-list }}
</div>


