<div class="col-lg-4 col-md-6 col-12 mt-4">
            <div class="bg-repository-card p-2">
              <div
                class="d-flex justify-content-center align-items-center"
              >
                <div class="m-4">
                {{#resourceicon}}
                  <img
                    src="{{{resourceicon}}}"
                    alt="{{title}}"
                    class="bg-zinc-200"
                  />
                  {{/resourceicon}}
                  {{^resourceicon}}
                  <img
                    src="https://placehold.co/40x40"
                    alt="icon"
                    class="bg-zinc-200"
                  />
                  {{/resourceicon}}
                </div>
                <div class="text-wrap">
                  <h4 class="font-weight-bold mb-0">{{title}}</h4>
                  <p class="text-muted m-0">
                    {{description}}
                  </p>
                  {{#hastags}}
                  <div class="tags">
                    {{> local_dta/repository/tags }}
                  </div>
                  {{/hastags}}
                </div>
              </div>
            </div>
          </div>