<div class="d-flex justify-content-between align-items-center">
  <form class="form-inline position-relative">
    <div class="input-group">
      <input
        class="form-control border-secondary searchbar-input"
        type="search"
        placeholder="Search resource..."
        aria-label="Search"
      />
      <div class="input-group-append">
        <button
          class="searchbar-icon-button"
          type="button"
          id="filterButton"
        >
          <i class="fa fa-filter"></i>
        </button>
        <span id="filterTag" class="badge badge-secondary d-none"></span>
      </div>
    </div>
  </form>
  <div id="filter-options" class="dropdown-menu d-none">
    <div class="container">
      <div>
        <div class="d-flex flex-row justify-content-between filter">
          <label for="typeSelect" class="col-form-label">Type</label>
          <select class="form-control" id="typeSelect">
            <option disabled selected value="">
              Select a document type...
            </option>
          </select>
        </div>
        <div class="d-flex flex-row justify-content-between filter">
          <label for="themeSelect" class="col-form-label">Theme</label>
          <select class="form-control" id="themeSelect">
            <option disabled selected value="">Select a theme...</option>
          </select>
        </div>
        <div class="d-flex flex-row justify-content-between filter">
          <label for="tagsSelect" class="col-form-label">Tags</label>
          <select class="form-control" id="tagsSelect">
            <option disabled selected value="">Select tags...</option>
          </select>
        </div>
        <div class="d-flex flex-row justify-content-between filter">
          <label for="authorInput" class="col-form-label">Author</label>
          <input
            type="text"
            class="form-control"
            id="authorInput"
            placeholder="Search an author..."
          />
        </div>
        <div class="d-flex flex-row justify-content-between filter">
          <label for="languageSelect" class="col-form-label">Language</label>
          <select class="form-control" id="languageSelect">
            <option disabled selected value="">Select a language...</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  {{> local_dta/repository/filter-chip }}
  <button
    class="dta-primary-button"
    type="button"
    id="addResourceButton"
  >
    <i class="fa fa-plus-circle"></i> Add new resource
  </button>

  <script>
    document
      .getElementById("filterButton")
      .addEventListener("click", function () {
        let filterOptions = document.getElementById("filter-options");
        if (filterOptions.classList.contains("d-none")) {
          filterOptions.classList.remove("d-none");
          filterOptions.classList.add("d-block");
        } else {
          filterOptions.classList.remove("d-block");
          filterOptions.classList.add("d-none");
        }
      });

    function applyFilter(type) {
      var filterTag = document.getElementById("filterTag");
      filterTag.textContent = type;
      filterTag.classList.remove("d-none");
    }
  </script>
</div>

