<div class="w-100 mb-3">
    <div class="d-flex justify-content-start">
        <h2 class="text-secondary mb-4 dta-title">{{#str}} themestags_users, local_dta {{/str}}</h2>
    </div>
    <div class="users row p-0 mx-0 justify-content-center">
        {{#users.data}}
            
        {{/users.data}}
    </div>
</div>