<div class="row card-list w-100 p-0 m-0">
    {{#cases}}
        {{#data}}
            <div class="col-12 col-xl-6 mb-4 px-2 case">{{> local_digitalta/cases/dashboard/case }}</div>
        {{/data}}
    {{/cases}}
</div>