<div class="row card-list w-100">
    {{#resources}}
        {{#data}}
            <div class="col-12 col-sm-6 col-xl-4 mb-4 px-2 resource">{{> local_digitalta/resources/dashboard/resource }}</div>
        {{/data}}
    {{/resources}}
</div>
