<div class="row mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body text-center">
                <button class="btn btn-outline-primary case-section-add-button">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>