<div class="row mt-3" id="section_{{id}}">
    <input type="hidden" id="not_exist_{{id}}" value="{{exist}}">
    <input type="hidden" id="sectionid_{{id}}" value="{{id}}">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header d-flex justify-content-end py-2">
                <div class="d-flex align-items-center">
                    <button type="button" data-id="{{id}}" class="btn btn-outline-danger btn-sm mr-2 section-close-button">
                        <i class="fa fa-times" aria-hidden="true"></i></button>
                    <button type="button" data-id="{{id}}" class="btn btn-outline-primary btn-sm section-edit-button">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="card-body text-center" id="section-text-description">
                <textarea class="form-control" id="content_{{id}}" rows="15" cols="0">{{{content}}}</textarea>
            </div>
        </div>
    </div>
</div>