<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-body">
        <div class="mb-3">
          <label class="form-label">{{#str}} ourcases_header_title, local_dta {{/str}}</label>
          <input type="hidden" name="id" id="section-header-id" value="{{sectionheader.id}}">
          <input class="form-control" type="text" name="title" id="section-header-title"
            value="{{sectionheader.title}}" />
        </div>
        <div class="mb-3">
          <label for="tags" class="text-secondary font-weight-bold">{{#str}}form_experience_tags, local_dta{{/str}}</label>
          <select multiple class="form-control d-none" id="autocomplete_tags"></select>
        </div>
        <hr>
        <div class="mb-3">
          <label class="form-label">{{#str}} ourcases_header_description, local_dta {{/str}}</label>
          <textarea class="form-control" name="description" id="section-header-description"
            rows="15">{{{sectionheader.description}}}</textarea>
        </div>
      </div>
    </div>
  </div>
</div>
