<div class="row card-list w-100">
    {{#tutors.data}}
        <div class="col-12 col-sm-6 col-xl-4 mb-4 px-2 resource">{{> local_digitalta/tutors/dashboard/tutor }}</div>
    {{/tutors.data}}
</div>
