<div class="card h-100">
    <div class="card-header">
        {{> local_digitalta/_common/metadata-user}}
    </div>
    <div class="card-body pb-0">
    </div>
    <div class="card-action-btns px-3 mb-4">
        <div class="">
            {{#user.subjects}}<p class="user-subjects">{{.}}</p>{{/user.subjects}}
        </div>
    </div>
</div>

