<div class="mb-5">
  {{#pictureurl}}
    <div class="experience-card-img-container card-img-top border-bottom">
    <a href="{{experiences.viewurl}}{{id}}">
      <img
        src="{{pictureurl}}"
        alt="{{#str}} myexperience_picture_alt, local_dta {{/str}}"
        class="img-fluid experience-card-img p-0"
        style="object-fit: cover; max-height: 200px; width: 100%;"
      />
    </a>
    </div>
  {{/pictureurl}}
  <div class="experience-card-body">
    <h4 class="mb-1 experience-card-title d-flex flex row">
    <a href="{{experiences.viewurl}}{{id}}">{{title}}</a>
    </h4>
    {{> local_dta/experiences/experience-metadata}}
    <a href="{{experiences.viewurl}}{{id}}">
    <div class="experience-description mb-3">{{{description}}}</div>
    </a>
      {{#reactions}}
        {{> local_dta/experiences/reactions-buttons}}
      {{/reactions}}
  </div>
</div>
