<div class="pt-3">
  <div class="row grid">
    {{#experiences.data}}
          <div class="item col-12 col-md-6 col-xl-4">{{> local_dta/experiences/card }}</div>
    {{/experiences.data}}
  </div>
</div>

{{#js}}
require(['local_dta/masonry'], function (masonry) {
  masonry.init('.grid', {
    itemSelector: '.item',
    percentPosition: true
  });
});
{{/js}}