<div class="experience-tags d-flex px-1 align-items-center">
    <ul class="tags-list">
        <li><a href="#" class="tag-basic">HTML</a></li>
        <li><a href="#" class="tag-basic">CSS</a></li>
        <li><a href="#" class="tag-basic">JavaScript</a></li>
    </ul>
</div>