<div class="mb-3">
    <div class="d-flex justify-content-between">
        <div class="d-flex">
            {{#tags}}
            <ul class="d-flex flex-wrap mr-1 list-unstyled">
                    {{> local_dta/experiences/experience-tags}}
            </ul>
            {{/tags}}
        </div>
    </div>
</div>
