<div class="latest-exp-container">
    <h2>{{#str}} teacheracademy_latest_exps_title, local_dta {{/str}}</h2>
    <div class="experiences latest-experiences d-flex flex-row">
        {{#experiences.latest}}
            {{> local_dta/teacheracademy/latest/latest-experiences/latest-experience-card }}
        {{/experiences.latest}}
    </div>
    <div class="row card-cases">
        <div class="d-flex justify-content-start ml-2">
            <a href="{{experiences.allurl}}" class="btn btn-primary">{{#str}}see_more, local_dta{{/str}}</a>
        </div>
    </div>
</div>