<div class="container-fluid">
<input type="hidden" id="ourcases-id" value="{{ourcase.id}}">
  <div class="row">
    <div class="col-md-12">
    <h3>{{#str}}ourcases_repository_placeholder, local_dta{{/str}}</h3>
      <div class="row">
        <div class="col-md-12" id="sections-header">
          {{#sectionheader}} {{> local_dta/ourcases/section-header-edit }} {{/sectionheader}} 
        </div>
        <div class="col-md-12" id="sections-body">
          {{#sections}} {{> local_dta/ourcases/section-text-view}} {{/sections}}
        </div>
        <div class="col-md-12">{{>local_dta/ourcases/section-add }}</div>
      </div>
    </div>
  </div>
</div>