<div class="container-fluid">
<input type="hidden" id="ourcases-id" value="{{ourcase.id}}">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3 sidebar">
      <h4>{{#str}}experience, local_dta{{/str}}</h4>
      <hr />
      <h5>{{experience.title}}</h5>
      <p>{{{experience.description}}}</p>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12" id="sections-header">
          {{#sectionheader}} {{> local_dta/ourcases/section-header-view }} {{/sectionheader}} 
        </div>
        <div class="col-md-12" id="sections-body">
          {{#sections}} {{> local_dta/ourcases/section_text}} {{/sections}}
        </div>
        <div class="col-md-12">{{>local_dta/ourcases/section-add }}</div>
      </div>
    </div>
  </div>
</div>