<div class="row mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <button type="button" class="btn btn-outline-danger btn-sm" id="header-edit-close-button"><i
                            class="fa fa-times" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="card-body text-center" id="section_{{id}}">
                <textarea class="form-control" id="input_{{id}}" rows="5" cols="50"
                    placeholder="{{#str}}experiencespost_placeholder, local_dta{{/str}}"></textarea>
            </div>
        </div>
    </div>
</div>