<div class="row mt-3" >
    <div class="col-md-12">
        <div class="card">
        <div class="card-body text-center" id="section_{{id}}">
            <h5 class="card-title text-center">{{title}}</h5>
            <input class="input" type="text" name="experiencetitle" placeholder="{{#str}}community_post_placeholder, local_dta{{/str}}" required />

        </div>
        </div>
    </div>
</div>