{{!
    @template course_course/coursecard

    This template renders the a card for the course cards.

    Example context (json):
    {
        "experiences": [
            {
                'id' => 10,
                'name' => 'Course 10',
                'description' => 'Description of course 10',
                'image' => 'https://via.placeholder.com/150',
            }
        ]
    }
}}
<div class="col-md-4">
    <div class="card">
        <img src="{{image}}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{name}} with id {{id}}</h5>
        <p class="card-text">{{description}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>