<div class="container-fluid col-12 col-sm-10 digitalta-themestags">
    <!--Section: Title-->
    <section data-section-name="digitalta-themestags-title">
        <div class="container-fluid d-flex">
            <div class="row align-items-justify">
                <div class="col-12">
                    <div class="digitalta-subtitle">DigitalTA</div>
                    <h1 class="digitalta-title display-3">{{{title}}}</h1>
                    {{#needstranslation}}
                        {{> local_digitalta/_common/translate-button}}
                    {{/needstranslation}}
                </div>
            </div>
        </div>
    </section>
    <!--Section: Introduction-->
    <section data-section-name="digitalta-themestags-introduction">
        <div class="container-fluid d-flex text-center">
            <div class="row align-items-center">
                <div class="col-12 pt-4 text-justify" style="line-height: 2em;">
                    {{#str}} themestags:description, local_digitalta {{/str}}
                    <p><span class="digitalta-highlighted help-video-icon" data-video="themes-tag-video"> <i class="fa fa-play-circle mr-2" style="font-size: 18px" aria-hidden="true"></i>{{#str}} help:learn_more_about, local_digitalta, {{#str}}concept:themestags:lowercase, local_digitalta{{/str}}{{/str}} </span></p>
                </div>
            </div>
        </div>
    </section>
    <!--Section: Themes-->
    <section data-section-name="digitalta-themestags-themes">
        <div class="container-fluid d-flex my-4">
            {{> local_digitalta/tags/dashboard/theme-list}}
        </div>
    </section>
    <!--Section: Tags-->
    <section data-section-name="digitalta-themestags-tags">
        <div class="container-fluid d-flex my-4">
            {{> local_digitalta/tags/dashboard/tag-list}}
        </div>
    </section>
</div>

<script>

    function getDarkColor() {
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += Math.floor(Math.random() * 10);
        }
        return color;
    }

    function setRandomBackground() {
        console.log('Setting random background');
        document.getElementsByClassName('tag').forEach((tag) => {
            if(tag.style.color === '')
                tag.style.color = getDarkColor();
        });
    }

    function setVars() {
        document.getElementsByClassName('tag').forEach((tag) => {
            tag.style.setProperty('--color', 'color');
            tag.style.setProperty('--size', 'font-size');
        });
    }

    function setSize() {
        document.getElementsByClassName('tag').forEach((tag) => {
            var tagWeight = tag.getAttribute('data-weight');
            if (tagWeight >= 80) {
                tag.style.setProperty('font-size', '3.0em');
            } else if (tagWeight >= 60) {
                tag.style.setProperty('font-size', '2.5em');
            } else if (tagWeight >= 40) {
                tag.style.setProperty('font-size', '2.0em');
            } else if (tagWeight >= 20) {
                tag.style.setProperty('font-size', '1.5em');
            } else {
                tag.style.setProperty('font-size', '1.0em');
            }
        });
    }

    setVars();
    setSize();
    setRandomBackground();

</script>
