<div alt="{{name}}" data-id="{{id}}" data-weight="{{weight}}" class="tag d-flex flex-row w-auto align-items-center mx-2"
    onClick="location.href='{{tags.viewurl}}{{id}}';" color="#000000">
    <div class="tag-img mr-2">
        <i class="fa fa-tag"></i>
    </div>
    <p class="tag-name mb-0 text-lowercase">{{name}}</p>
</div>
