<div class="w-100 mb-3">
    <div class="d-flex justify-content-start">
        <h2 class="text-secondary mb-4 dta-title">{{#str}} concept:themes, local_dta {{/str}}</h2>
    </div>
    <div class="themes row p-0 mx-0 justify-content-center">
        {{#themes.data}}
            {{> local_dta/teacheracademy/theme }}
        {{/themes.data}}
    </div>
</div>