{{#comments}}
    <li class="list-group-item">
        <div class="comment-item">
            <a href="{{userprofileurl}}" class="text-dark bold text-decoration-none">
                {{userfullname}}:
            </a> 
            <span class="text-muted">{{comment}}</span>
        </div>
    </li>
{{/comments}}
