<div class="collapse" id="commentsCollapse">
    <div class="card-body">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="{{#str}}myexperience_add_comment, local_dta{{/str}}" aria-label="{{#str}}myexperience_add_comment, local_dta{{/str}}" id="commentInput">
            <div class="input-group-append">
                <button data-action="send-comment" data-id={{id}} class="btn btn-primary" type="button"><i class="fa fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush rounded-bottom" id="commentsList"></ul>
</div>