<div class="latest-cases-container d-flex flex-column justify-content-between">
    <h2 class="mb-4">{{#str}} teacheracademy_latest_cases_title, local_dta {{/str}}</h2>
    <div class="study-cases">
        {{#ourcases}}
            {{> local_dta/teacheracademy/latest/latest-cases/latest-study-cases-item }}
        {{/ourcases}}
    </div>
    <div class="row">
        <div class="d-flex justify-content-start ml-2">
            <a href="{{ourcases.allurl}}" class="btn btn-primary">{{#str}}see_more, local_dta{{/str}}</a>
        </div>
    </div>
</div>
