{{#cases}}
<div class="mb-4">
  <a class="text-dark" href="{{viewurl}}{{id}}">
    <h5 class="text-primary" title="{{casetext.title}}">{{casetext.title}}</h5>
  </a>
    {{{casetext.description}}}
</div>
{{/cases}}