<div class="card mb-5 rounded-3">
  {{#pictureurl}}
    <div class="experience-card-img-container card-img-top border-bottom">
      <img
        src="{{pictureurl}}"
        alt="{{#str}} myexperience_picture_alt, local_dta {{/str}}"
        class="img-fluid experience-card-img"
      />
    </div>
  {{/pictureurl}}
  {{#experiences.showimageprofile}}
  <!-- avatar -->
  <div class="avatar avatar-xl mt-n7 ms-4">
  <a href="{{user.profileurl}}" class="shadow-none">
    <img src="{{user.imageurl}}" alt="User Image" class="rounded-circle border-4 border-white-color-40"/>
  </a>
  </div>
  {{/experiences.showimageprofile}}
  <!-- card body -->
  <div class="card-body">
    <!-- Title and Description -->
    <h4 class="mb-1 card-title">
    <a href="{{experiences.viewurl}}{{id}}" class="text-decoration-none">{{title}}</a>
    </h4>
    <a href="{{experiences.viewurl}}{{id}}" class="text-decoration-none">
    <p class="card-text">{{{description}}}</p>
    </a>

    <!-- Likes, Dislikes, and Comments Count -->
    <div class="d-flex justify-content-start">
      <button class="btn btn-outline-primary btn-sm mr-2">
        <i class="fa fa-thumbs-up"></i> {{likes}}
      </button>
      <button class="btn btn-outline-danger btn-sm mr-2">
        <i class="fa fa-thumbs-down"></i>
      </button>
      <button class="btn btn-outline-secondary btn-sm">
        <i class="fa fa-comment"></i> {{comments_count}}
      </button>
    </div>
  </div>
</div>
