<div class="card mb-5 rounded-3">
  <div class="experience-card-img-container">
    <img
      src="https://bootdey.com/image/480x180/191970/ffffff"
      alt="{{#str}} myexperience_picture_alt, local_dta {{/str}}"
      class="img-fluid rounded-top experience-card-img"
    />
  </div>
  {{#experiences.showimageprofile}}
  <!-- avatar -->
  <div class="avatar avatar-xl mt-n7 ms-4">
    <img src="{{userimage}}" alt="User Image" class="rounded-circle border-4 border-white-color-40"/>
  </div>
  {{/experiences.showimageprofile}}
  <!-- card body -->
  <div class="card-body">
    <!-- Title and Description -->
    <h4 class="mb-1">
    <a href="{{experiences.viewurl}}{{id}}" class="text-decoration-none">{{title}}</a>
    </h4>
    <p>{{description}}</p>

    <!-- Likes, Dislikes, and Comments Count -->
    <div class="d-flex justify-content-start">
      <button class="btn btn-outline-primary btn-sm mr-2">
        <i class="fa fa-thumbs-up"></i> {{likes}}
      </button>
      <button class="btn btn-outline-danger btn-sm mr-2">
        <i class="fa fa-thumbs-down"></i>
      </button>
      <button class="btn btn-outline-secondary btn-sm">
        <i class="fa fa-comment"></i> {{comments_count}}
      </button>
    </div>
  </div>
</div>
