<section data-section-name="dta-mentor-repository-title">
  <div class="container-fluid d-flex col-10">
    <h1 class="dta-title display-3">
      {{#str}}mentor_page_title, local_dta{{/str}}
    </h1>
  </div>
</section>

<div class="searchbar shadow d-flex flex-row align-items-center">
  {{> local_dta/mentors/searchbar }}
</div>
<div class="content">
  {{> local_dta/mentors/mentors-list }}
</div>