{{#ismentorcardvertical}}
<div class="mentor-card-vertical shadow-sm">
    <h3>{{name}}</h3>
    <div class="text-tertiary">{{position}}</div>
    {{#imageurl}}
        <img src="{{imageurl}}" class="rounded-circle" alt="{{name}}" width="100px" height="100px">
    {{/imageurl}}
    {{^imageurl}}
        <img src="https://via.placeholder.com/100" class="rounded-circle" alt="{{name}}" width="100px" height="100px">
    {{/imageurl}}
    <div class="theme-container w-100 d-flex flex-wrap justify-content-center">
        {{#themes}}
            {{> local_dta/themes/theme-tag}}
        {{/themes}}
    </div>
    <div class="interests-container w-100 d-flex flex-wrap justify-content-center">
        {{#tags}}
            <span class="tag-normal m-1">{{name}}</span>
        {{/tags}}
    </div>
    <div class="button-container">
        <a class="btn-connect" href="{{addcontacturl}}" title="{{#str}}mentor_card_action_add_contact, local_dta{{/str}}"><i class="fa fa-user-plus"></i></a>
        <a class="btn-email" href="{{sendemailurl}}" title="{{#str}}mentor_card_action_send_email, local_dta{{/str}}"><i class="fa fa-envelope"></i></a>
        <a class="btn-profile" href="{{viewprofileurl}}" title="{{#str}}mentor_card_action_view_profile, local_dta{{/str}}"><i class="fa fa-user"></i></a>
    </div>
</div>
{{/ismentorcardvertical}}
{{^ismentorcardvertical}}
<div class="mentor-card-horizontal shadow-sm">
    <div class="mentor-data w-100">
        <img src="https://via.placeholder.com/75" class="rounded-circle mb-2" alt="Brian Walton" width="75px" height="75px">
        <div class="mentor-info d-flex flex-column justify-content-start align-items-start w-100">
            <div class="d-flex flex-row align-items-center">
                <h3>Brian Walton</h3>
                <div class="text-tertiary">Teacher At Univerity</div>
            </div>
            <div class="theme-container">
                {{> local_dta/themes/theme-tag}}
            </div>
            <div class="interests-container w-100" title="Interested in 5 most used tags">
                Interested in 5 most used tags
            </div>
        </div>
    </div>
    <div class="button-container">
        <a class="btn-connect"><i class="fa fa-user-plus"></i></a>
        <a class="btn-email"><i class="fa fa-envelope"></i></a>
        <a class="btn-profile"><i class="fa fa-user"></i></a>
    </div>
</div>
{{/ismentorcardvertical}}
