<div class="experience-card-meta d-flex flex-column mb-1">
    <span class="text-muted me-2 d-flex align-items-start flex-column">
        {{#user}}
        <a href="{{profileurl}}" class="d-flex align-items-start">
            <img src="{{imageurl}}" alt="User Image" class="rounded border-4 border-white me-2" style="width: 50px; height: 50px;">
            <div class="d-flex flex-column">
                <span class="bold text-dark">
                {{name}}
                </span>
                <span class="text-muted font-weight-normal">
                    <i class="fa fa-calendar me-1"></i>
                    {{timecreated}}
                </span>
            </div>
        </a>
        {{/user}}
    </span>
</div>