<div class="modal-body">
{{#havePendingChanges}}<p>You have sections with changes pending to save, do you want to continue?</p>
<p>If you accept, these unsaved changes will be lost.</p>{{/havePendingChanges}}
    <p>{{#str}} ourcases_modal_save_body, local_dta {{/str}}</p>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{#str}} cancel, local_dta {{/str}}</button>
    <button type="button" class="btn btn-primary" id="complete-case-button">{{#str}} ourcases_button_save, local_dta {{/str}}</button>
</div>
