<div class="row">
  <div class="col-12 px-2 card">
    <div class="card-body">
        <div class="row">
          <div class="col-1">
            {{> local_dta/experiences/experience-metadata}}
          </div>
          <div class="col-11">
            <h5 class="card-title">Pengaturan</h5>
            <p class="card-text">Pengaturan akun anda</p>
          </div>
        </div>
    </div>
  </div>
</div>