<div class="experience-card">
  <div class="exp-card-head">
    {{> local_dta/cases/case-metadata}}
  </div>
  <div class="exp-card-body col-12 p-0 m-0">
    <div class="experience-card-body col-12">
      <h4 class="mb-1 experience-card-title">
        <a href="{{url_case}}{{ourcaseid}}" class="experience-card-title text-secondary">{{title}}</a>
      </h4>
      <a href="{{url_case}}{{ourcaseid}}">
        <div class="experience-description mb-3 text-dark">{{{description}}}</div>
      </a>
    </div>
  </div>
  <div class="card-action-btns">
    {{#reactions}}
      {{> local_dta/reactions/reactions-buttons}}
    {{/reactions}}
    {{> local_dta/tags/tags-list}}
  </div>
</div>