<div class="modal-body">
    <input type="hidden" id="modal_delete_id" value="{{modalDeleteId}}">
    <p>{{#str}} ourcases_section_text_delete_modal_body, local_dta {{/str}}</p>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{#str}} cancel, local_dta {{/str}}</button>
    <button type="button" class="btn btn-danger" id="confirmDelete">{{#str}} delete, local_dta {{/str}}</button>
</div>
