<div class="card experience-card-module">
  <div class="card-header">
      <h2>Resource Repository</h2>
  </div>
  <div class="card-body">
      <h4 class="card-title">Coming soon</h4>
  </div>
</div>