<div class="action col-xl-2 col-lg-4 col-6 my-2 text-center" data-action="{{action}}" data-value="{{value}}">
    <div class="btn btn-primary d-flex align-items-center justify-content-center col-12 h-100">
        {{{string}}}
    </div>
</div>