<div class="mb-4 home-case-card">
    <a class="text-dark text-justify" href="{{viewurl}}{{id}}">
        <h3 class="text-primary" title="{{casetext.title}}">{{casetext.title}}</h3>
        {{{casetext.description}}}
    </a>
</div>