<div class="container-fluid col-12 col-sm-10 digitalta-teacheracademy">
    <!--Section: Title-->
    <section data-section-name="digitalta-teacheracademy-title" class="mb-5">
        <div class="container-fluid d-flex">
            <div class="row align-items-justify">
                <div class="col-12">
                    <div class="digitalta-subtitle">DigitalTA</div>
                    <h1 class="digitalta-title display-3">{{#str}} teacheracademy:title, local_digitalta {{/str}}</h1>
                </div>
            </div>
        </div>
    </section>
    <!--Section: Introduction-->
    <section data-section-name="digitalta-teacheracademy-introduction" class="mb-5">
        <div class="container-fluid d-flex text-center">
            <div class="row align-items-center">
                <div class="col-lg-8 col-12 pt-4 text-justify" style="line-height: 2em;">
                    {{#str}} teacheracademy:description, local_digitalta {{/str}}
                </div>
                <div class="col-lg-4 col-12">
                    <video width="100%" autoplay controls controlslist="nodownload">
                        <source src="https://storage.googleapis.com/digitalta-media/2024/10/video_platform.mp4" />
                        <track
                            label="Español"
                            kind="subtitles"
                            srclang="es"
                            src="{{wwwroot}}/theme/digitalta/statics/video-captions/es.vtt"
                            default />
                        <track
                            label="Deutsch"
                            kind="subtitles"
                            srclang="de"
                            src="{{wwwroot}}/theme/digitalta/statics/video-captions/de.vtt"/>
                        <track
                            label="Polski"
                            kind="subtitles"
                            srclang="pl"
                            src="{{wwwroot}}/theme/digitalta/statics/video-captions/pl.vtt" />
                        <track
                            label="CZech"
                            kind="subtitles"
                            srclang="cs"
                            src="{{wwwroot}}/theme/digitalta/statics/video-captions/cs.vtt" />
                        {{#str}} general:video_not_supported, local_digitalta {{/str}}
                    </video>
                </div>
            </div>
        </div>
    </section>
    <!--Section: Actions-->
    <section data-section-name="digitalta-teacheracademy-actions" class="mb-5">
        <div class="container-fluid d-flex">
            {{> local_digitalta/teacheracademy/action-list}}
        </div>
    </section>
    <!--Section: Themes-->
    <section data-section-name="digitalta-teacheracademy-themes" class="mb-5">
        <div class="container-fluid d-flex">
            {{> local_digitalta/teacheracademy/theme-list}}
        </div>
    </section>
    <!--Section: Experiences & Cases-->
    <section data-section-name="digitalta-teacheracademy-experiences-cases" class="mb-5">
        <div class="container-fluid d-flex">
            <div class="row w-100">
                <!-- Experiences -->
                <div class="col-md-8 col-sm-12">
                    {{> local_digitalta/teacheracademy/experience-list }}
                </div>
                <!-- Cases -->
                <div class="col-md-4 col-sm-12">
                    {{> local_digitalta/teacheracademy/case-list }}
                </div>
            </div>
        </div>
    </section>
</div>
