<div class="container-fluid teacher-academy">
  <div class="home w-100 d-flex flex-column">
    <div class="w-100 h-auto mb-3 p-3 mb-5 bg-body rounded">
      <div class="d-flex h-auto">
        <!-- Themes List -->
        <div class="theme-container col-md-4 p-3 mb-5 bg-body rounded">
          {{> local_dta/teacheracademy/themes-list}}
        </div>
        <!-- Summary Carousel -->
        <div class="col-md-8 px-0 d-none d-md-flex">
          {{> local_dta/teacheracademy/summary-carousel}}
        </div>
      </div>
    </div>
    
    
    <!-- Recent Experiences & Study Cases -->
    <div class="w-100 mb-3 d-flex flex-row text-primary p-3 mb-5 bg-body rounded">
      <!-- Recent Experiences -->
      {{> local_dta/teacheracademy/recent-card-list }}
      <!-- Study Cases -->
      {{> local_dta/teacheracademy/study-cases-list }}
    </div>
  </div>
</div>
