<div class="mb-3 h-100 d-flex flex-column justify-content-around">
    <div class="d-flex justify-content-start flex-column mb-4">
        <h2 class="text-secondary mb-0 digitalta-title">{{#str}} concept:experiences:recent, local_digitalta {{/str}}</h2>
    </div>
    <div class="experiences row p-0 mx-0 h-100">
        {{#experiences.data}}
            {{> local_digitalta/_common/experience-list-item}}
        {{/experiences.data}}
    </div>
    <div class="d-flex justify-content-end mt-3">
        <a href="{{experiences.allurl}}" class="btn btn-primary">{{#str}} general:see_more, local_digitalta {{/str}}</a>
    </div>
</div>