<div class="mb-3 h-100 d-flex flex-column justify-content-between">
    <div class="d-flex justify-content-start">
        <h2 class="text-secondary mb-4 digitalta-title">{{#str}} concept:cases:featured, local_digitalta {{/str}}</h2>
    </div>
    <div class="cases h-100 p-0 mx-0 mt-1">
        {{#cases.featured}}
            {{> local_digitalta/_common/case-list-item}}
        {{/cases.featured}}
    </div>
</div>
