<div class="mb-3 h-100 d-flex flex-column justify-content-around">
    <div class="d-flex justify-content-start flex-column mb-4">
        <h2 class="text-secondary mb-0 digitalta-title">{{#str}} concept:experiences:featured, local_digitalta {{/str}}</h2>
        {{#needstranslation}}
            {{> local_digitalta/_common/translate-button}}
        {{/needstranslation}}
    </div>
    <div class="experiences row p-0 mx-0 h-100">
        {{#experiences.featured}}
            {{> local_digitalta/_common/experience-list-item}}
        {{/experiences.featured}}
    </div>
</div>
