  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <h2 class="text-primary">
    {{#str}} teacheracademy_featured_exps_title, local_dta {{/str}}
  </h2>
  <div class="carouselExpeciences">
    
    <div class="carousel-inner">
      {{#experiences.featured}}
        {{> local_dta/teacheracademy/featured-carousel-item}}
      {{/experiences.featured}}
    </div>
    
  </div>

{{#js}}
require(['local_dta/slick-carousel'], function(slickCarousel) {
  $(document).ready(function() {
    var options = {
      dots: false,
      infinite: true,
      speed: 300,
      slidesToShow: 4,
      slidesToScroll: 1,
      arrows: true,
      prevArrow: '<div class="slick-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>',
      nextArrow: '<div class="slick-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>',
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    };
    slickCarousel.init('.carousel-inner', options);
  });
});
{{/js}}