{{#cases}}
<div class="col-8 pt-4 mb-4 overflow-hidden text-dark">
  <a class="text-dark" href="{{viewurl}}{{id}}">
    <h5 title="{{casetext.title}}">{{casetext.title}}</h5>
    <p>
    {{{casetext.description}}}
    </p>
  </a>
</div>
{{/cases}}