<div class="experience-card px-4">
  <div
    class="latest-experiences-img-container hover-overlay-image ripple border-bottom d-flex justify-content-center align-items-center rounded overflow-hidden"
    data-mdb-ripple-init
    data-mdb-ripple-color="light"
  >
    <a href="{{experiences.viewurl}}{{id}}">
      {{#pictureurl}}
        <img
          src="{{pictureurl}}"
          alt="{{#str}} myexperience_picture_alt, local_dta {{/str}}"
          class="latest-experiences-img img-fluid rounded"
        />
      {{/pictureurl}}
      {{^pictureurl}}
        <img
          src="{{themepixurl}}screenshot.png"
          alt="{{#str}} myexperience_picture_alt, local_dta {{/str}}"
          class="latest-experiences-img img-fluid rounded"
        />
      {{/pictureurl}}
    </a>
  </div>
  <div class="experience-card-body">
    <h5 title="{{title}}" class="experience-card-title"><a href="{{experiences.viewurl}}{{id}}">{{title}}</a></h5>
    <div class="experience-description">
      {{{description}}}
    </div>
  </div>
</div>