<div>
    <h2 class="text-primary">News</h2>
    <div class="study-cases">
        <div class="study-case d-flex"> 
            <div class="study-case-img w-100 overflow-hidden">
                <img class="img-fluid embed-responsive-item"
                    alt="Study Case 0"
                    src="https://digitalta.eu/wp-content/uploads/2023/12/portada.png"></img>
            </div>
            <div class="pl-2">
                <a href="https://digitalta.eu/scdn-organizes-a-training-meeting-for-a-group-of-newly-recruited-teachers/"><h6>ŚCDN organizes a training meeting for a group of newly recruited teachers</h6></a>
                <p class="text-dark">On October 20, 2023, the Swietokrzyskie Centrum Doskonalenia Nauczycieli (ŚCDN) marked a significant milestone in the implementation of the DigitalTA project by organizing an information and training meeting.</p>
            </div>
        </div>
        <div class="study-case d-flex"> 
            <div class="study-case-img w-100 mh-80  overflow-hidden">
                <img class="img-fluid embed-responsive-item"
                    alt="Study Case 1"
                    src="https://digitalta.eu/wp-content/uploads/2023/12/portada.png"></img>
            </div>
            <div class="pl-2">
                <a href="https://digitalta.eu/digitalta-project-members-finalize-quality-and-management-actions-at-their-intermediate-meeting/"><h6>The members of the DigitalTA project finalize actions on its digital platform</h6></a>
                <p class="text-dark">The partners of the European project Erasmus + DigitalTA (2022-25), led by the Universidad Europea del Atlántico (European University of the Atlantic, UNEATLANTICO) and in which the Iberoamerican University Foundation (FUNIBER) participates, meet in t</p>
            </div>
        </div>
        <div class="study-case d-flex"> 
            <div class="study-case-img w-100 overflow-hidden">
                <img class="img-fluid embed-responsive-item"
                    alt="Study Case 3"
                    src="https://digitalta.eu/wp-content/uploads/2023/04/Kick-off-meeting_4-2-1200x800.jpg"></img>
            </div>
            <div class="pl-2">
                <a href="https://digitalta.eu/the-importance-of-teacher-training/"><h6>The importance of teacher training</h6></a>
                <p class="text-dark">A teacher training program is a program that equips teachers with techniques and modern pedagogy strategies that helps them to better connect with, manage, and teach to their students in a manner which ensures that all students are learning and benefitting. The partners of the European projec</p>
            </div>
        </div>
        <div class="study-case d-flex"> 
            <div class="study-case-img w-100 overflow-hidden">
                <img class="img-fluid embed-responsive-item"
                    alt="Study Case 4"
                    src="https://digitalta.eu/wp-content/uploads/2023/12/digitalta.png"></img>
            </div>
            <div class="pl-2">
                <a href="https://digitalta.eu/spanish-radio-program-interviews-josep-alemany-project-coordinator/"><h6>Spanish radio program interviews Josep Alemany, project coordinator</h6></a>
                <p class="text-dark">Josep Alemany, the project coordinator and a professor at the European University of the Atlantic (UNEATLANTICO), recently took part in the Spanish radio program Euroconexión, following the</p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-start">
        <a href="https://digitalta.eu/news" class="btn btn-primary">See More</a>
    </div>
</div>