<div class="col-8">
    <h2>{{#str}} teacheracademy_recent_exps_title, local_dta {{/str}}</h2>
    <div class="experiences recent-experiences d-flex flex-row flex-wrap grid-masonry">
    {{#experiences.recent}}
        <div class="col-12 col-md-6 col-lg-4 item">
            {{> local_dta/teacheracademy/recent-card }}
        </div>
    {{/experiences.recent}}
    </div>
    <div class="d-flex justify-content-start">
        <a href="{{experiences.allurl}}" class="btn btn-primary">See More</a>
    </div>
</div>