<div class="mb-5 experience-card">
  {{#pictureurl}}
    <div class="experience-card-img-container border-bottom d-flex justify-content-center align-items-center">
    <a href="{{experiences.viewurl}}{{id}}">
      <img
        src="{{pictureurl}}"
        alt="{{#str}} myexperience_picture_alt, local_dta {{/str}}"
        class="img-fluid experience-card-img p-0"
      />
    </a>
    </div>
  {{/pictureurl}}
  {{^pictureurl}}
    <div class="experience-card-img-container border-bottom d-flex justify-content-center align-items-center">
      <a href="{{experiences.viewurl}}{{id}}">
        <img
          src="{{themepixurl}}screenshot.png"
          alt="{{#str}} myexperience_picture_alt, local_dta {{/str}}"
          class="img-fluid experience-card-img p-0"
        />
      </a>
    </div>
 {{/pictureurl}}
  <div class="experience-card-body">
    <h4 class="mb-1 experience-card-title">
    <a href="{{experiences.viewurl}}{{id}}">{{title}}</a>
    </h4>
    <a href="{{experiences.viewurl}}{{id}}">
    <div class="experience-description mb-3">{{{description}}}</div>
    </a>
  </div>
</div>
