<div class="col-4">
    <h2>Study Cases</h2>
    <div class="study-cases">
        <div class="study-case d-flex"> 
            <div class="study-case-img w-100 overflow-hidden">
                <img class="img-fluid embed-responsive-item"
                    alt="Study Case 0"
                    src="https://digitalta.eu/wp-content/uploads/2023/12/portada.png"></img>
            </div>
            <div class="pl-2">
                <h4>Study Case 0</h4>
                <p class="text-dark">In eget euismod nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus</p>
            </div>
        </div>
        <div class="study-case d-flex"> 
            <div class="study-case-img w-100 mh-80  overflow-hidden">
                <img class="img-fluid embed-responsive-item"
                    alt="Study Case 1"
                    src="https://digitalta.eu/wp-content/uploads/2023/12/portada.png"></img>
            </div>
            <div class="pl-2">
                <h4>Study Case 1</h4>
                <p class="text-dark">In eget euismod nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus</p>
            </div>
        </div>
        <div class="study-case d-flex"> 
            <div class="study-case-img w-100 overflow-hidden">
                <img class="img-fluid embed-responsive-item"
                    alt="Study Case 3"
                    src="https://digitalta.eu/wp-content/uploads/2023/04/Kick-off-meeting_4-2-1200x800.jpg"></img>
            </div>
            <div class="pl-2">
                <h4>Study Case 2</h4>
                <p class="text-dark">In eget euismod nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus</p>
            </div>
        </div>
        <div class="study-case d-flex"> 
            <div class="study-case-img w-100 overflow-hidden">
                <img class="img-fluid embed-responsive-item"
                    alt="Study Case 4"
                    src="https://digitalta.eu/wp-content/uploads/2023/12/digitalta.png"></img>
            </div>
            <div class="pl-2">
                <h4>Study Case 3</h4>
                <p class="text-dark">In eget euismod nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus</p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-start">
        <a href="{{ourcases.allurl}}" class="btn btn-primary">See More</a>
    </div>
</div>

<style>
.study-case-img {
    width: 80px;
    max-width: 200px;
    max-height: 100px;
    height: auto;
    margin-bottom: 1rem;
}
.study-case-img img {
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 100px;
    object-fit: cover;
    object-position: 50% 50%;
}
</style>