<div class="mb-4 home-case-card">
    <a class="text-dark text-justify" href="{{viewurl}}{{id}}">
        <div class="title-container"><h5 class="text-primary" title="{{casetext.title}}">{{casetext.title}}</h5></div>
        <div class="description-container">{{{casetext.description}}}</div>
    </a>
</div>