<div class="mb-4">
    <a class="text-dark text-justify" href="{{viewurl}}{{id}}">
        <h5 class="text-primary" title="{{casetext.title}}">{{casetext.title}}</h5>
        {{{casetext.description}}}
    </a>
</div>