<div class="w-100">
    <h2 class="text-primary">Highlight Experiences</h2>
    <div class="container">
        <div class="palette">
            <div class="color"><span>Buenos días colegas docentes,

he recibido mi primera falta de respeto por parte de un alumno.  ¿Cómo lo solventáis vosotros?</span></div>
            <div class="color"><span>Buenos días docentes digitales.

Hoy he realizado una actividad con mis alumno@s que igual interesa a más de un@: ¡Día de Pizza!

Parece que ha fomentado el compañerismo y ha ayudado a que distintos grupos de chicos y chicas se traten con normalidad.

¡Con comida cualquier cosa se arregla!

¿Habéis hecho esto o algo parecido?

Un slaudo.</span></div>
            <div class="color"><span>Buenas tardes docentes,

hoy uno de mis alumnos me ha traído un problema personal grave a mi mesa. 
¿Qué puedo hacer? Quiero ayudar pero no sé hasta que punto puedo intervenir.

Tampoco puedo detallar mucho pero es un caso muy delicado. Seguro que habéis visto casos similares.

Un saludo y gracias de antemano.</span></div>
            <div class="color"><span>Buenas noches docentes,

traigo una duda y pido consejo. Mi experiencia calificando se me hace muy monótona, y quisiera calificar a mis alumn@s por algún criterio más creativo. No se me ocurre nada que no parezca injusto.

¿Busco algo más? ¿Me ataño a los actuales? ¿Qué opináis?



Un saludo y gracias de antemano.</span></div>
            <div class="color"><span>Hoy uno de mis alumnos me ha traído un problema personal grave a mi mesa. 
¿Qué puedo hacer? Quiero ayudar pero no sé hasta que punto puedo intervenir.</span></div>
        </div>
    </div>
</div>

<style>
.container {
  height: 85%;
  max-height: 485px;
  width: 100%;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 10px 20px #dbdbdb;
  font-family: sans-serif;
}

.palette {
  display: flex;
  height: 95%;
  width: 100%;
}

.color {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  transition: flex 0.1s linear;
}

.color span {
  opacity: 0;
  transition: opacity 0.1s linear;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  backdrop-filter: blur(8px);
  
  
}

.color:nth-child(1) {
  backdrop-filter: blur(10px);
  background: url("https://digitalta.eu/wp-content/uploads/2023/12/portada.png") no-repeat center center;
  background-size: cover;
  
  /*background: #264653;*/
}

.color:nth-child(2) {
  background: url("https://digitalta.eu/wp-content/uploads/2023/10/Erasmus-Days.png") no-repeat center center;
  background-size: cover;
  /*background: #2a9d8f;*/
}

.color:nth-child(3) {
  background: url("https://digitalta.eu/wp-content/uploads/2023/09/Jiri-Kropac.png") no-repeat center center;
  background-size: cover;
  /*background: #e9c46a;*/
}

.color:nth-child(4) {
  background: url("https://digitalta.eu/wp-content/uploads/2023/06/IMG_6148-1-1.jpg") no-repeat center center;
  background-size: cover;
  /*background: #f4a261;*/
}

.color:nth-child(5) {
  background: url("https://digitalta.eu/wp-content/uploads/2022/12/cover-uneatlantico.jpg") no-repeat center center;
  background-size: cover;
  /*background: #e76f51;*/
}

.color:hover {
  flex: 25;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.color:hover span {
  opacity: 1;
}

.h-exp-title {
  opacity: 1;
}


</style>