<div class="w-100 summary-carousel">
    <h2 class="text-primary">{{#str}} teacheracademy_featured_exps_title, local_dta {{/str}}</h2>
    <div class="container">
        <div class="palette">
            {{#experiences.featured}}
                {{> local_dta/teacheracademy/summary-carousel-item}}
            {{/experiences.featured}}
        </div>
    </div>
</div>
