<div alt="{{name}}"
    data-weight="{{id}}"
    class="theme col-lg-3 col-md-4 col-6 d-block text-center p-0 m-0"
    onClick="console.log('Searchig tag with id {{id}}')"
    color="#000000"
>
    <img class="theme-icon w-100 h-100 p-0 m-0" src="{{picture}}" alt="{{name}}">
    <div class="theme-overlay w-100 h-100 position-absolute dta-inner p-0 m-0">
        <p class="theme-name text-white font-weight-bold position-absolute dta-inner p-0 m-0">{{name}}</p>
    </div>
</div>