<div alt="{{name}}"
    data-id="{{id}}"
    class="theme col-lg-3 col-sm-6 col-12 d-block text-center p-0 m-0"
    style="aspect-ratio: 3 / 1;"
    onClick="location.href='{{themes.viewurl}}{{id}}';"
    color="#000000"
>
    <img class="theme-icon w-100 h-100 p-0 m-0" src="{{picture}}" alt="{{name}}" style="object-fit: cover; object-position: center;">
    <div class="theme-overlay w-100 h-100 position-absolute dta-inner p-0 m-0">
        <p class="theme-name text-white font-weight-bold position-absolute dta-inner p-0 m-0">{{name}}</p>
    </div>
</div>