<!--<form class="theme-search d-flex flex-row">
    <div class="input-search-container pr-2 h-75">
      <input class="input-search" type="text" name="tag_search_text" id="tag_search_text" placeholder="Search tags..." />
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="svg-icon bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>
      </div>
      
    </div>      
</form>-->
<form class="theme-search d-flex flex-row">
  <div class="input-search-container">
      <input type="text" name="tag_search_text" id="tag_search_text" class="input-search" required="" placeholder="Search tags...">
      <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
              <title>Search</title>
              <path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path>
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path>
          </svg>
      </div>
  </div>
</form>
