<div class="w-100 mh-25 mb-3">
    <div class="d-flex justify-content-between">
    <h2 class="text-primary">Themes</h2>
    {{> local_dta/teacheracademy/themes-search }}
    </div>
    <marquee style="border-radius: 50px;" onmouseover="this.stop();" onmouseout="this.start();">
        <div class="themes d-flex flex-col justify-content-start">
            {{#tags}}
                {{> local_dta/teacheracademy/themes-item }}
            {{/tags}}
        </div>
    </marquee>
</div>

<script>
    document.getElementById("tag_search_text").addEventListener("keydown", function(e) {
        if(event.keyCode == 13) {
            event.preventDefault();
            return false;
        }
    });

    document.getElementById("tag_search_text").addEventListener("input", function(e) {
        searchTags(e.target.value);
    });

    function searchTags(name) {
        const tags = document.querySelectorAll('.theme');
        
        tags.forEach(tag => {
            var p = tag.querySelector('p');
            if (p.textContent.toLowerCase().includes(name.toLowerCase())) {
                tag.classList.remove('d-none');
                tag.classList.add('d-flex');
            } else {
                tag.classList.remove('d-flex');
                tag.classList.add('d-none');
            }
        });
    }
</script>