<div alt="{{name}}" class="theme d-flex flex-row align-items-center mr-5" style="width: auto !important;">
    <div class="theme-img mr-2">
        <i class="fa fa-tag" aria-hidden="true"></i>
    </div>
    <p class="theme-name mb-0">{{name}}</p>
</div>

<style>
.theme:hover {
    cursor: pointer;
    background-color: #f8f9fa;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 3px;
    transition: 0.3s;
    animation-play-state: paused;
}

.theme-name {
    text-transform: lowercase;
}
</style>

<script>
function getDarkColor() {
    var color = '#';
    for (var i = 0; i < 6; i++) {
        color += Math.floor(Math.random() * 10);
    }
    return color;
}

function setRandomBackground() {
  document.getElementsByClassName('theme').forEach((tag) => {tag.style.color = getDarkColor();});
}

setRandomBackground();
</script>