<div class="mb-3">
    <div class="mb-4">
        <h2 class="text-secondary my-0 digitalta-title">{{title}}</h2>
    </div>
    <div class="text-justify">
        <p>{{{content}}}</p>
    </div>
</div>