<div id="custom-link mb-1">
    <a href="#" class="text-decoration-none">
        <div class="d-flex flex-row  align-items-center">
            <i class="icon fa fa-folder-open mr-3"></i>
            <p class="text-primary m-0">Related Case</p>
            <i class="icon fa fa-link ml-1"></i>
        </div>
    </a>
</div>