<div class="card experience-card-module">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="d-flex flex-row">
            <div data-tooltip-content="{{#str}}experience_view_tooltip_cases, local_dta{{/str}}" class="data-tooltip"><i class="fa fa-question"></i></div>
            <h2>{{#str}}experience_view_cases_title, local_dta{{/str}}</h2>
        </div>
        {{#experience}} 
        <div class="d-flex">
            {{#isadmin}}
                <a href="{{createcaseurl}}{{data.id}}" class="shadow-none" title="{{#str}}create_case, local_dta{{/str}}">
                    <i class="fa fa-plus-circle fa-lg text-info"></i>
                </a>
            {{/isadmin}}
        </div>
        {{/experience}}
    </div>
    <div class="card-body">
        {{#experience}}
            {{#cases}}
                {{>local_dta/experiences/view/case-card-link}}
                {{>local_dta/experiences/view/case-card-link}}
                {{>local_dta/experiences/view/case-card-link}}
                {{>local_dta/experiences/view/case-card-link}}
                {{>local_dta/experiences/view/case-card-link}}
            {{/cases}}
            {{^cases}}
                <h4 class="card-title text-muted">{{#str}}experience_view_cases_desc_nocases, local_dta{{/str}}</h4>
            {{/cases}}
        {{/experience}}
    </div>
</div>
