<div class="card experience-card-module">
    <div class="card-header">
        <div class="d-flex flex-row">
            <h2>{{#str}}experience_view_mytutoring_title, local_dta{{/str}}</h2>
            <div data-tooltip-content="{{#str}}experience_view_tooltip_mytutoring, local_dta{{/str}}" class="data-tooltip"><i class="fa fa-question"></i></div>
        </div>
    </div>
    <div class="card-body">
        <div class="custom-searchbar">
            <svg viewBox="0 0 24 24" aria-hidden="true" class="icon">
                <g>
                <path
                    d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
                ></path>
                </g>
            </svg>
            <input class="input" disabled type="search" placeholder="Search users to ask tutoring" />
        </div>
        <div class="container">
            <h4 class="text-muted my-3">{{#str}}experience_view_mytutoring_request_title, local_dta{{/str}}</h4>
            <div class="row">
                <div class="w-100">
                    <div class="people-nearby">
                    
                    <div class="nearby-user">
                        <div class="row align-items-center">
                        <div class="col-md-2 col-sm-2 col-xl-3">
                            <img src="{{iconsurl}}deer.svg" alt="user" class="profile-photo-lg">
                        </div>
                        <div class="col-md-7 col-sm-7 col-xl-6">
                            <h5><a href="#" class="profile-link">Brian Walton</a></h5>
                            <p>Teachear at University</p>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <button class="btn btn-primary pull-right mb-1">{{#str}}experience_view_mytutoring_ok_button, local_dta{{/str}}</button>
                            <button class="btn btn-secondary pull-right mt-1">{{#str}}experience_view_mytutoring_decline_button, local_dta{{/str}}</button>
                        </div>
                        </div>
                    </div>
                    <div class="nearby-user">
                        <div class="row align-items-center">
                        <div class="col-md-2 col-sm-2 col-xl-3">
                            <img src="{{iconsurl}}alpaca.svg" alt="user" class="profile-photo-lg">
                        </div>
                        <div class="col-md-7 col-sm-7 col-xl-6">
                            <h5><a href="#" class="profile-link">Cris Haris</a></h5>
                            <p>Teacher at University</p>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <button class="btn btn-primary pull-right mb-1">{{#str}}experience_view_mytutoring_ok_button, local_dta{{/str}}</button>
                            <button class="btn btn-secondary pull-right mt-1">{{#str}}experience_view_mytutoring_decline_button, local_dta{{/str}}</button>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>