<div class="tutor">
    <div class="row align-items-center">
        <div class="col-9 col-xl-12 d-flex align-items-center">
            <div class="">
                <img src="{{iconsurl}}alpaca.svg" alt="user" class="profile-photo-lg">
            </div>
            <div class="">
                <h5><a href="#" class="profile-link">Cris Haris</a></h5>
                <p class="mb-0">Teacher at University</p>
            </div>
        </div>
        <div class="col-3 col-xl-12 d-flex flex-row flex-wrap">
            <button class="btn btn-primary pull-right m-1">{{#str}}experience_view_mytutoring_ok_button, local_dta{{/str}}</button>
            <button class="btn btn-secondary pull-right m-1">{{#str}}experience_view_mytutoring_decline_button, local_dta{{/str}}</button>
        </div>
    </div>
</div>