<div class="card experience-card-module">
    <div class="card-header">
        <div class="d-flex flex-row">
            <div data-tooltip-content="{{#str}}experience_view_tooltip_mytutoring, local_dta{{/str}}" class="data-tooltip"><i class="fa fa-question"></i></div>
            <h2>{{#str}}experience_view_mytutoring_title, local_dta{{/str}}</h2>
        </div>
    </div>
    <div class="card-body">
        <div class="custom-searchbar mb-1">
            <svg viewBox="0 0 24 24" aria-hidden="true" class="icon">
                <g>
                <path
                    d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
                ></path>
                </g>
            </svg>
            <input class="input" disabled type="search" placeholder="Search users to ask tutoring" />
        </div>
        <div class="container request-list mb-1">
            <h4 class="text-muted my-2">{{#str}}experience_view_mytutoring_request_title, local_dta{{/str}}</h4>
            <div class="row mx-0">
                <div class="w-100">
                    <div class="tutor-list">
                        {{>local_dta/experiences/view/mytutoring-card-tutor}}
                        {{>local_dta/experiences/view/mytutoring-card-tutor}}
                        {{>local_dta/experiences/view/mytutoring-card-tutor}}
                        {{>local_dta/experiences/view/mytutoring-card-tutor}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .request-list {
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>