<div class="card experience-card-module">
  <div class="card-header  d-flex justify-content-between align-items-center">
    <div class="d-flex flex-row">
      <h2>{{#str}}experience_view_reflectionmanager_title, local_dta{{/str}}</h2>
      <div data-tooltip-content="{{#str}}experience_view_tooltip_reflectionmanager, local_dta{{/str}}" class="data-tooltip"><i class="fa fa-question"></i></div>
    </div>
    <div><a href="{{createreflectionurl}}{{data.id}}" class="shadow-none text-decoration-none"><i class="fa fa-plus-circle fa-lg text-info"></i></a></div>
  </div>
  <div class="card-body overflow-auto">
      <p>
          After overcoming the difficulty of integrating refugee students into my elementary school, I've
          concluded that effective integration necessitates a comprehensive strategy that addresses emotional
          trauma, language barriers, and fostering a sense of belonging in addition to the modification of
          instructional materials. In order to get across language obstacles and enable children to actively
          participate in sessions, it has been shown that creating a visual and sensory environment is crucial.
      </p>
      <p>
          Methodologically, splitting up the class into smaller groups has brought attention to how crucial
          social contact and cooperation are to a successful integration. The adoption of personalised
          programmes has improved communication and given kids an atmosphere of safety in which to voice
          their needs and worries. It is important to acknowledge that each student has different emotions and
          particular needs, and customising instructional and emotional tactics is vital to their achievement
          and welfare.
      </p>
      <p>
          In the end, the effective integration of refugee students enhances the educational experience for the
          kids involved and contributes to developing a diverse and inclusive educational environment. The key
          components for developing an educational community that values the range of experiences and
          cultural backgrounds involve recognising difference, promoting understanding, and encouraging
          collaboration between students and their teachers. It takes a constant process of adaptation and
          sharing knowledge to make sure every student, no matter what her background, feels like a valued
          member of the school community.
      </p>
  </div>
</div>
