    <a href="{{path}}" class="text-decoration-none">
        <div class="d-flex flex-row  align-items-center">
            <i class="icon fa fa-clipboard mr-3"></i>
            <p class="text-primary m-0">{{section_header.title}}</p>
            <i class="icon fa fa-link ml-1"></i>
                        <a id="remove-context-button" data-contextid="{{context.id}}"><i class="icon fa fa-times ml-1 text-danger"></i></a>

        </div>
    </a>