<div class="card experience-card-module">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div class="d-flex flex-row">
      <div data-tooltip-content="{{#str}}experience_view_tooltip_resrepo, local_dta{{/str}}" class="data-tooltip"><i class="fa fa-question"></i></div>
      <h2>{{#str}}experience_view_resrepo_title, local_dta{{/str}}</h2>
    </div>
    {{#experience}} 
      <div class="d-flex">
          {{#isadmin}}
          <a href="#" class="shadow-none" title="Add resource...">
              <i class="fa fa-plus-circle fa-lg text-info"></i>
          </a>
          {{/isadmin}}
      </div>
    {{/experience}}
  </div>
  <div class="card-body">
      {{>local_dta/experiences/view/resource-repository-link}}
      {{>local_dta/experiences/view/resource-repository-link}}
      {{>local_dta/experiences/view/resource-repository-link}}
      {{>local_dta/experiences/view/resource-repository-link}}
      {{>local_dta/experiences/view/resource-repository-link}}
      {{>local_dta/experiences/view/resource-repository-link}}
      {{>local_dta/experiences/view/resource-repository-link}}
      {{>local_dta/experiences/view/resource-repository-link}}
  </div>
</div>