<div class="reflection-resource card col-12 col-xl-6 p-0 mb-3">
    <div class="card-header d-flex flex-row align-items-center justify-content-between">
        <div class="d-flex flex-row align-items-center">
            <i class="icon fa fa-file-text mr-2"></i>
            <h5 class="text-secondary digitalta-title m-0">{{name}}</h5>
            <span class="badge badge-primary ml-2">{{type}}</span>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">{{{comment}}}</p>
    </div>
    <div class="card-footer d-flex flex-row align-items-center justify-content-end">
        <a target="_blank" href="{{path}}">{{#str}} experience:resources:visit, local_digitalta {{/str}}</a>
    </div>
</div>
