<div class="card experience-card-module resource-repository">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div class="d-flex flex-row">
      <div data-tooltip-content="{{#str}}experience_view_tooltip_resrepo, local_dta{{/str}}" class="data-tooltip"><i class="fa fa-question"></i></div>
      <h2>{{#str}}experience_view_resrepo_title, local_dta{{/str}}</h2>
    </div>
    {{#experience}} 
      <div class="d-flex">
          {{#isadmin}}
            <a id="add-resource-button" class="shadow-none" title="{{#str}}experience_view_resrepo_action_tooltip, local_dta{{/str}}">
                <i class="fa fa-plus-circle fa-lg text-info"></i>
            </a>
            <a id="add-cases-button"  class="shadow-none" title="{{#str}}experience_view_resrepo_action_tooltip, local_dta{{/str}}">
                <i class="fa fa-plus-circle fa-lg text-info"></i>
            </a>
          {{/isadmin}}
      </div>
    {{/experience}}
  </div>
  <div class="card-body">
      <h4>Related Cases</h4>
      {{#cases}}
        {{>local_dta/experiences/view/related-cases-link}}
      {{/cases}}
      
      <br>
      <h4>Related Resources</h4>
      <h6>Comming soon...</h6>
  </div>
</div>