<div class="card experience-card-module">
  <div class="card-header">
    <div class="d-flex flex-row">
      <h2>{{#str}}experience_view_resrepo_title, local_dta{{/str}}</h2>
      <div data-tooltip-content="{{#str}}experience_view_tooltip_resrepo, local_dta{{/str}}" class="data-tooltip"><i class="fa fa-question"></i></div>
    </div>
  </div>
  <div class="card-body">
      <h4 class="card-title">Coming soon</h4>
  </div>
</div>