<div class="container-fluid col-10 dta-experience">
<input type="hidden" id="experience-id" value="{{experience.data.id}}">
    <div class="row">
        <div class="col-12 mb-4">
            <div class="row">
                <div class="col-12 col-xl-9">
                    {{> local_dta/experiences/view/experience-card}}
                </div>
                <div class="col-12 col-xl-3 mb-4">
                    <div class="col-12 mb-4">
                        {{> local_dta/chat/index}}
                    </div>
                    <div class="col-12">
                        {{> local_dta/experiences/view/resources-card}} 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-4">
            <div class="row">
                <div class="col-12 mb-4">
                    {{> local_dta/experiences/view/reflection-card}}
                </div>
            </div>
        </div>
    </div>
</div>

{{#js}}
require(['local_dta/tutoring/tutoring-loader'], function(chatHandler) {
    chatHandler.init();
});
{{/js}}