<div class="container mt-5 card">
  <div class="d-flex flex-row align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <div
        class="data-tooltip"
        data-tooltip-content="{{#str}}tutoring_view_tooltip, local_dta{{/str}}"
      >
        <i class="fa fa-question"></i>
      </div>
      <h2>{{#str}}tutoring_title, local_dta{{/str}}</h2>
    </div>
    <span class="badge badge-pill badge-danger">2 Tutoring Requests</span>
  </div>
  <div>
    <div class="">
      <div class="input-group mb-1">
        <input
          type="text"
          class="search-field__input"
          placeholder="Search user to ask tutoring..."
          aria-label="Search user"
        />
      </div>
      <a href="#" class="d-flex justify-content-end mb-1">{{#str}}tutoring_see_all_mentors, local_dta{{/str}}</a>
      <div class="d-flex align-items-center mb-2">
        <h5 class="mb-1">{{#str}}open_chats, local_dta{{/str}}</h5>
      </div>
      <div class="list-group">
      {{#user_list}}
      {{> local_dta/test/menu_chat/item}}
      {{/user_list}}
    </div>
  </div>
</div>
</div>