<div class="card">
  <div class="card-header">
    <div class="d-flex flex-row align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <h2>{{#str}}tutoring:chat_title, local_digitalta{{/str}}</h2>
        <i class="help-video-icon fa fa-question-circle-o text-muted ml-2 fa-2x" aria-hidden="true" data-video="chat-video"></i>
      </div>
      <span id="tutoring-requested" class="badge badge-pill badge-danger" data-action="see-requests"></span>
    </div>
  </div>
  <div class="card-body">
    <div class="d-flex align-items-center mb-2">
      <h5 class="mb-1">{{#str}}tutoring:open_chats, local_digitalta{{/str}}</h5>
    </div>
    <div class="list-group">
      {{#chatrooms}}
      {{> local_digitalta/test/menu_chat/item}}
      {{/chatrooms}}
    </div>
  </div>
</div>