<div class="list-tutoring-group-item d-flex justify-content-between align-items-center mb-2">
  <div class="">
    <h6 class="mb-0">{{name}}</h6>
    <small>{{#str}}chat with, local_dta{{/str}} {{members}}</small>
  </div>
  <div class="tutoring-chat-button">
    <button class="btn btn-primary btn-sm mr-1">
      <i class="fa fa-comment mr-1"></i>
      Open
    </button>
  </div>
</div>