<div class="list-tutoring-group-item d-flex justify-content-between align-items-center mb-2">
  <div class="">
    <h6 class="mb-0">{{name}}</h6>
  </div>
  <div class="tutoring-chat-button">
    <button class="btn btn-primary btn-sm mr-1 open-chat" data-id={{id}}>
      <i class="fa fa-comment mr-1"></i>
      Open
    </button>
  </div>
</div>